---
- name: Configure BGP Peers
  community.network.edgeos_config:
    lines:
      - set protocols bgp 64512 parameters router-id 192.168.1.1
      - set protocols bgp 64512 neighbor 192.168.1.200 remote-as 64512
      - set protocols bgp 64512 neighbor 192.168.1.203 remote-as 64512
      - set protocols bgp 64512 neighbor 192.168.1.204 remote-as 64512
      - set protocols bgp 64512 redistribute static
      - set protocols bgp 64512 maximum-paths ibgp 32
