---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app govee2mqtt
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      govee2mqtt:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["10.0.10.123/24"]
              }]
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/wez/govee2mqtt
              tag: latest@sha256:596bfb5870360cc9cf03e32d0e31ff5187f852ef289e04c5d61d3c440c7950e7
            env:
              TZ: America/Vancouver
              GOVEE_MQTT_HOST: emqx-listeners.default.svc.cluster.local
              GOVEE_MQTT_PORT: "1883"
              GOVEE_TEMPERATURE_SCALE: F
              RUST_LOG_STYLE: always
            envFrom:
              - secretRef:
                  name: govee2mqtt-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8056

    route:
      app:
        hostnames:
          - govee.chestr.dev
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: govee.png
          gethomepage.dev/name: Govee2MQTT
          gethomepage.dev/group: Automation
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
      tmp:
        type: emptyDir
