---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: nginx-external
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: nginx-external-maxmind-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        MAXMIND_LICENSE_KEY: "{{ .GEOLITE_LICENSE_KEY }}"
  dataFrom:
    - extract:
        key: geolite
