---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 6.48.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: grafana/grafana
      tag: 9.3.2

    replicas: 1
    rbac:
      pspEnabled: false

    admin:
      existingSecret: grafana-admin

    envFromSecrets:
      - name: *app

    persistence:
      enabled: false

    env:
      GF_ANALYTICS_REPORTING_ENABLED: 'false'
      GF_EXPLORE_ENABLED: true
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      VAR_BLOCKY_URL: http://blocky.networking.svc.cluster.local:4000
      GF_DASHBOARDS_MIN_REFRESH_INTERVAL: 2s

    grafana.ini:
      server:
        root_url: https://grafana.${SECRET_CLUSTER_DOMAIN}
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
      panels:
        disable_sanitize_html: true
      auth:
        signout_redirect_url: "https://auth.${SECRET_CLUSTER_DOMAIN}/logout"
        oauth_auto_login: true
      auth.generic_oauth:
        enabled: true
        name: Authelia
        client_id: grafana
        client_secret: ${SECRET_GRAFANA_OAUTH_CLIENT_SECRET}
        scopes: openid profile email groups
        empty_scopes: false
        auth_url: https://auth.${SECRET_CLUSTER_DOMAIN}/api/oidc/authorization
        token_url: https://auth.${SECRET_CLUSTER_DOMAIN}/api/oidc/token
        api_url: https://auth.${SECRET_CLUSTER_DOMAIN}/api/oidc/userinfo
        login_attribute_path: preferred_username
        groups_attribute_path: groups
        name_attribute_path: name
        use_pkce: true
      auth.generic_oauth.group_mapping:
        role_attribute_path: |
          contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
        org_id: 1
      auth.basic:
        enabled: false
      auth.anonymous:
        enabled: true
        org_name: HomeOps
        org_id: 1
        org_role: Viewer

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: cib:grafana
        hajimari.io/group: system management
      hosts:
        - &host "grafana.${SECRET_CLUSTER_DOMAIN}"
      tls:
        - hosts:
            - *host

    plugins:
      - pr0ps-trackmap-panel
      - grafana-clock-panel
      - vonage-status-panel
      - grafana-piechart-panel
      - natel-discrete-panel
      - grafana-worldmap-panel
      - grafana-singlestat-panel
      - grafana-polystat-panel
      - mxswat-separator-panel
      - farski-blendstat-panel
      - redis-datasource

    serviceMonitor:
      enabled: true

    serviceAccount:
      autoMount: true

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            allowUiUpdates: true
            options:
              path: /var/lib/grafana/dashboards/default

    dashboards:
      default:
        1-node-exporter:
          url: https://grafana.com/api/dashboards/11074/revisions/9/download
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860
          revision: 23
          datasource: Prometheus
        redis:
          gnetId: 12776
          revision: 2
          datasource: Redis
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
          datasource: Prometheus
        synology-nas-details:
          gnetId: 14284
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11315
        unifi-client-insights:
          gnetId: 11315
          revision: 8
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11311
        unifi-network-sites:
          gnetId: 11311
          revision: 4
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11314
        unifi-uap-insights:
          gnetId: 11314
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11312
        unifi-usw-insights:
          gnetId: 11312
          revision: 8
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/14371
        nut:
          gnetId: 14371
          revision: 1
          datasource: Prometheus

    sidecar:
      datasources:
        enabled: true
        searchNamespace: ALL
      dashboards:
        enabled: true
        searchNamespace: ALL
        folderAnnotation: grafana_dashboard_folder
        provider:
          foldersFromFilesStructure: true
