---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      sonarr-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/exportarr
              tag: v2.0.1@sha256:727e7bc8f2f0934a2117978c59f4476b954018b849a010ea6cfb380bd6539644
            args:
              - sonarr
              - --enable-additional-metrics
              - --enable-unknown-queue-items
            env:
              PORT: &port 9707
              URL: http://sonarr.default.svc.cluster.local:8989
            envFrom:
              - secretRef:
                  name: sonarr-exporter-secret
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true

    service:
      app:
        controller: sonarr-exporter
        ports:
          http:
            port: *port

    serviceMonitor:
      main:
        serviceName: sonarr-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 3m
            scrapeTimeout: 1m
