---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homerp
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-docker-secret
      automountServiceAccountToken: false
      enableServiceLinks: false

    controllers:
      backend:
        replicas: 3
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: *app
                      app.kubernetes.io/controller: backend
                  topologyKey: kubernetes.io/hostname

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: homerp-initdb-secret

        containers:

          app:
            image:
              repository: ghcr.io/mchestr/homerp/backend
              tag: latest@sha256:af78fcd2562aed0c294a46bd0ac196a3f7231d22039bbc882e82cc868995febc
            env:
              DEBUG: "false"
              UPLOAD_DIR: /app/uploads
              FRONTEND_URL: &url https://homerp.xyz
              REDIS_URL: redis://homerp-dragonfly.default.svc.cluster.local:6379
              ENVIRONMENT: production
              ALLOWED_NETWORKS: "10.0.20.200/32"
              FREE_MONTHLY_CREDITS: "50"
              SMTP_HOST: smtp-relay.default.svc.cluster.local
              SMTP_PORT: 2525
              SMTP_FROM: no-reply@homerp.xyz
              SMTP_USE_TLS: false
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: homerp-pguser-secret
                    key: async_uri
            envFrom:
              - secretRef:
                  name: homerp-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 1
                  failureThreshold: 30
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi

      frontend:
        replicas: 3
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: *app
                      app.kubernetes.io/controller: frontend
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: ghcr.io/mchestr/homerp/frontend
              tag: latest@sha256:6b5810db63404f9be03b2fd39025597f8f9ec811c9f69335005d64c429f1ad18
            env:
              NEXT_PUBLIC_API_URL: *url
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 1
                  failureThreshold: 30
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      backend:
        controller: backend
        ports:
          http:
            port: &backendPort 8000
      frontend:
        controller: frontend
        ports:
          http:
            port: &frontendPort 3000

    route:
      app:
        hostnames:
          - homerp.xyz
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - name: homerp-backend
                port: *backendPort
          - backendRefs:
              - name: homerp-frontend
                port: *frontendPort
      www-redirect:
        hostnames:
          - www.homerp.xyz
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  hostname: homerp.xyz
                  statusCode: 301

    persistence:
      uploads:
        type: nfs
        server: nebula.chestr.dev
        path: /var/nfs/shared/cluster/apps/homerp/uploads
        globalMounts:
          - path: /app/uploads
