---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      k8s-gateway:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: quay.io/oriedge/k8s_gateway
              tag: v0.4.0
              pullPolicy: IfNotPresent
            args:
              - -conf
              - /etc/coredns/Corefile
            probes:
              readiness: &readiness
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8181
                    scheme: HTTP
              liveness:
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
                    scheme: HTTP
              startup: *readiness

    service:
      app:
        controller: k8s-gateway
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.100.111
        externalTrafficPolicy: Cluster
        ports:
          dns:
            enabled: true
            port: 53
            targetPort: 1053
            protocol: UDP

    persistence:
      config:
        type: configMap
        name: k8s-gateway-configmap
        globalMounts:
          - path: /etc/coredns/Corefile
            subPath: Corefile

    serviceAccount:
      create: true
      name: k8s-gateway
