---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app subs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 2
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      subs:
        replicas: 3
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: subs-initdb-secret

        containers:
          main:
            image:
              repository: ghcr.io/mchestr/plex-wrapped
              tag: pg@sha256:b0eec4221db5831a5783d24b8b5009ed36d91a0dde0250708db863300446e6df
            env:
              NEXT_PUBLIC_APP_URL: https://subs.chestr.dev
              NEXTAUTH_URL: https://subs.chestr.dev
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: subs-pguser-secret
                    key: uri
            envFrom:
              - secretRef:
                  name: subs-secret
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 2Gi

    service:
      main:
        controller: *app
        ports:
          http:
            port: &port 3000

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.chestr.dev"
          - wrapped.chestr.dev
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: si-plex
          gethomepage.dev/name: Plex Subs
          gethomepage.dev/group: Media
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        type: emptyDir
      tmp:
        type: emptyDir
      nextjs-cache:
        type: emptyDir
        globalMounts:
          - path: /app/.next/cache
