---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wizarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/wizarrrr/wizarr
              tag: 4.2.0
            env:
              TZ: America/Vancouver
              APP_URL: https://invite.chestr.dev

    service:
      app:
        controller: wizarr
        ports:
          http:
            port: 5690

    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: wizarr.png
          gethomepage.dev/name: Wizarr
          gethomepage.dev/group: System
        hosts:
          - host: &host invite.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /data/database
