---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: postgres-backups
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539

    controllers:
      main:
        type: cronjob
        cronjob:
          schedule: 0 12 * * *
          concurrencyPolicy: Forbid
        containers:
          main:
            image:
              repository: docker.io/prodrigestivill/postgres-backup-local
              tag: 15@sha256:4320120c71ae700745ce388752df870ed0652ea50c5b42971ec24282c9e760f7
            envFrom:
              - secretRef:
                  name: postgres-backups-secret
            env:
              POSTGRES_HOST: postgres-rw.default.svc.cluster.local
              POSTGRES_DB: authelia,autobrr,displex,gatus,ghostfolio,home-assistant,immich,lldap,paperless,prowlarr_log,prowlarr_main,radarr_log,radarr_main,sonarr_log,sonarr_main
            command: /backup.sh

    service:
      main:
        enabled: false

    persistence:
      backups:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/backups/kubernetes/apps/postgres
        globalMounts:
          - path: /backups
