---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-k8s-ycl
  namespace: flux-system
spec:
  targetNamespace: kube-system
  path: ./kubernetes/apps/kube-system/k8s-ycl/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: true
