---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app prowlarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
        PROWLARR__POSTGRES__HOST: postgres16-rw.default.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: "{{ .PROWLARR_STORAGE_POSTGRES_USERNAME }}"
        PROWLARR__POSTGRES__PASSWORD: "{{ .PROWLARR_STORAGE_POSTGRES_PASSWORD }}"
        PROWLARR__POSTGRES__MAINDB: prowlarr_main
        PROWLARR__POSTGRES__LOGDB: prowlarr_log
  dataFrom:
    - extract:
        key: *app
    - extract:
        key: cloudnative-pg
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prowlarr-dbinit
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-dbinit-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: prowlarr_main prowlarr_log
        INIT_POSTGRES_HOST: postgres16-rw.default.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .PROWLARR_STORAGE_POSTGRES_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .PROWLARR_STORAGE_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
