---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: glauth
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: glauth-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        server.toml: |
          debug = true
          [ldap]
              enabled = true
              listen = "0.0.0.0:3389"
          [ldaps]
              enabled = false
          [api]
              enabled = true
              tls = false
              listen = "0.0.0.0:5555"
          [backend]
              datastore = "config"
              baseDN = "dc=home,dc=arpa"
        groups.toml: |
          [[groups]]
              name = "svcaccts"
              gidnumber = 6500
          [[groups]]
              name = "admins"
              gidnumber = 6501
          [[groups]]
              name = "people"
              gidnumber = 6502
          [[groups]]
              name = "media"
              gidnumber = 6503
          [[groups]]
              name = "consoleAdmin"
              gidnumber = 6504
        # Create passbcrypt:
        #   https://gchq.github.io/CyberChef/#recipe=Bcrypt(12)To_Hex('None',0)
        # or
        #   htpasswd -bnBC 10 "" YOUR_PASSWORD | tr -d ':\n' | od -A n -t x1 | sed 's/ *//g' | tr -d '\n'
        users.toml: |
          [[users]]
              name = "{{ .search_username }}"
              uidnumber = 5000
              primarygroup = 6500
              passbcrypt = "{{ .search_password }}"
              [[users.capabilities]]
                  action = "search"
                  object = "*"
          [[users]]
              name = "{{ .mike_username }}"
              mail = "{{ .mike_email }}"
              givenname = "{{ .mike_gn }}"
              sn = "{{ .mike_sn }}"
              uidnumber = 5001
              primarygroup = 6502
              othergroups = [ 6501, 6503, 6504 ]
              passbcrypt = "{{ .mike_password }}"
          [[users]]
              name = "{{ .jena_username }}"
              mail = "{{ .jena_email }}"
              givenname = "{{ .jena_gn }}"
              sn = "{{ .jena_sn }}"
              uidnumber = 5002
              primarygroup = 6502
              othergroups = [ 6503 ]
              passbcrypt = "{{ .jena_password }}"
  dataFrom:
    - extract:
        key: glauth
