---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - files:
      - subcleaner.sh=./resources/subcleaner.sh
    name: bazarr-scripts
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  disableNameSuffixHash: true
resources:
  - externalsecret.yaml
  - helmrelease.yaml
  - ../../../../templates/volsync
