---
session:
  cookies:
    - domain: chestr.dev
      authelia_url: https://auth.chestr.dev
  redis:
    high_availability:
      sentinel_name: redis-master
      nodes:
        - host: redis-node-0.redis-headless.default.svc.cluster.local
          port: 26379
        - host: redis-node-1.redis-headless.default.svc.cluster.local
          port: 26379
        - host: redis-node-2.redis-headless.default.svc.cluster.local
          port: 26379

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
  rules:
    - domain: ["join.chestr.dev"]
      resources: ["^/join.*$", "^/j/.*$", "^/setup.*$", "^/static/.*$"]
      policy: bypass

notifier:
  smtp:
    sender: "Authelia <authelia@chestr.dev>"

identity_providers:
  oidc:
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - groups
          - email
        redirect_uris:
          - https://grafana.chestr.dev/login/generic_oauth
        userinfo_signing_algorithm: none
      - id: immich
        description: Immich
        secret: "${IMMICH_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
        redirect_uris:
          - https://photos.chestr.dev/auth/login
          - app.immich:/
        userinfo_signing_algorithm: none
      - id: minio
        description: Minio
        secret: "${MINIO_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
          - groups
        redirect_uris:
          - https://minio.chestr.dev/oauth_callback
        userinfo_signing_algorithm: none
