---
log:
  level: info

regulation:
  max_retries: 3
  find_time: 1h
  ban_time: 1d

session:
  name: authelia-home-ops
  inactivity: 3d
  expiration: 7d
  remember_me: 6M
  cookies:
    - domain: chestr.dev
      authelia_url: https://auth.chestr.dev
  redis:
    host: redis.default.svc.cluster.local
    database_index: 14
    high_availability:
      sentinel_name: redis-master
      nodes:
        - host: redis-node-0.redis-headless.default.svc.cluster.local
          port: 26379
        - host: redis-node-1.redis-headless.default.svc.cluster.local
          port: 26379
        - host: redis-node-2.redis-headless.default.svc.cluster.local
          port: 26379

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
  rules:
    - domain: invite.chestr.dev
      resources: ["^/j/", "^/join/", "^/setup/*", "^/static/"]
      policy: bypass
    - domain: displex.chestr.dev
      resources: ["^/auth.*$"]
      policy: bypass
    - domain:
        - sonarr.chestr.dev
        - radarr.chestr.dev
      resources: ["^/api.*$"]
      policy: bypass
    - domain: "*.chestr.dev"
      subject:
        - "group:admin"
      policy: two_factor
    - domain: "*.chestr.dev"
      policy: deny

notifier:
  smtp:
    sender: "Authelia <authelia@chestr.dev>"

identity_providers:
  oidc:
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - groups
          - email
        redirect_uris:
          - https://grafana.chestr.dev/login/generic_oauth
        userinfo_signed_response_alg: none
      - id: immich
        description: Immich
        secret: "${IMMICH_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
        redirect_uris:
          - https://photos.chestr.dev/auth/login
          - app.immich:/
        userinfo_signed_response_alg: none
