---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets

---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://{{ ENV.ONEPASSWORD_VAULT }}/1password/OP_CREDENTIALS_JSON
  token: op://{{ ENV.ONEPASSWORD_VAULT }}/1password/OP_CONNECT_TOKEN

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: networking
stringData:
  CLOUDFLARE_TUNNEL_ID: op://{{ ENV.ONEPASSWORD_VAULT }}/cloudflare-tunnel/CLOUDFLARE_TUNNEL_ID

---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://{{ ENV.ONEPASSWORD_VAULT }}/sops/SOPS_PRIVATE_KEY
