---
originRequest:
  originServerName: external.chestr.dev

ingress:
  - hostname: chestr.dev
    service: &service https://envoy-external.networking.svc.cluster.local
    originRequest:
      originServerName: chestr.dev
  - hostname: "*.chestr.dev"
    service: *service
  - hostname: mikeflix.lol
    service: *service
    originRequest:
      originServerName: mikeflix.lol
  - hostname: "*.mikeflix.lol"
    service: *service
    originRequest:
      originServerName: external.mikeflix.lol
  - hostname: homerp.xyz
    service: *service
    originRequest:
      originServerName: external.homerp.xyz
  - hostname: "*.homerp.xyz"
    service: *service
    originRequest:
      originServerName: external.homerp.xyz
  - service: http_status:404
