---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cross-seed
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cross-seed-secret
    template:
      data:
        config.js: |
          module.exports = {
            action: "inject",
            apiKey: "{{ .CROSS_SEED_API_KEY }}",
            delay: 30,
            includeEpisodes: true,
            includeNonVideos: true,
            includeSingleEpisodes: true,
            linkCategory: "cross-seed",
            linkDirs: [
              "/media/downloads/torrents/complete/cross-seed"
            ],
            linkType: "hardlink",
            matchMode: "partial",
            outputDir: "/tmp",
            port: Number(process.env.CROSS_SEED_PORT),
            qbittorrentUrl: "http://qbittorrent.default.svc.cluster.local:8080",
            radarr: [
              "http://radarr.media.svc.cluster.local:7878/?apikey={{ .RADARR_API_KEY }}"
            ],
            skipRecheck: true,
            sonarr: [
              "http://sonarr.media.svc.cluster.local:8989/?apikey={{ .SONARR_API_KEY }}"
            ],
            torznab: [
              25,
              30,
              34,
              37
            ].map(i => `http://prowlarr.default.svc.cluster.local:9696/$${i}/api?apikey={{ .PROWLARR_API_KEY }}`),
            useClientTorrents: true
          };
  dataFrom:
    - extract:
        key: cross-seed
    - extract:
        key: radarr
    - extract:
        key: sonarr
    - extract:
        key: prowlarr
