# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
talos/clusterconfig/
# task
.task/
# vscode-sops
.decrypted~*.yaml
.decrypted~*.yml
.decrypted~*.toml
.config.env
*.agekey
*.pub
*.key
github-deploy-key*
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
tmpl/
*.tfvars
edgerouter_config**
docs/book/**
**/graph.html
