---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: autobrr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.1"
            envFrom:
              - secretRef:
                  name: autobrr-dbinit-secret

        containers:
          main:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: v1.34.1
            envFrom:
              - secretRef:
                  name: autobrr-secret
            resources:
              requests:
                memory: 250Mi
                cpu: 10m
              limits:
                memory: 500Mi
            env:
              AUTOBRR__CHECK_FOR_UPDATES: "false"
              AUTOBRR__HOST: 0.0.0.0
              AUTOBRR__PORT: &port 7474
              AUTOBRR__LOG_LEVEL: DEBUG
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz/liveness
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: autobrr.png
          gethomepage.dev/name: Autobrr
          gethomepage.dev/group: Downloads
          gethomepage.dev/widget.type: autobrr
          gethomepage.dev/widget.url: http://autobrr.default.svc.cluster.local:7474
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTOBRR_API_KEY}}"
        hosts:
          - host: &host autobrr.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
