---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: autobrr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 10000

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "14.10"
            envFrom:
              - secretRef:
                  name: autobrr-dbinit-secret

        containers:
          main:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: v1.33.0
            envFrom:
              - secretRef:
                  name: autobrr-secret
            resources:
              requests:
                memory: 250Mi
                cpu: 10m
              limits:
                memory: 500Mi

    service:
      main:
        ports:
          http:
            port: 7474

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: autobrr.png
          gethomepage.dev/name: Autobrr
          gethomepage.dev/group: Downloads
          gethomepage.dev/widget.type: autobrr
          gethomepage.dev/widget.url: http://autobrr.default.svc.cluster.local:7474
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTOBRR_API_KEY}}"
        hosts:
          - host: &host autobrr.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: autobrr-configmap
        readOnly: true
        globalMounts:
          - path: /config/config.toml
            subPath: config.toml
