---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.2"
            envFrom:
              - secretRef:
                  name: teslamate-dbinit-secret
        containers:
          main:
            image:
              repository: teslamate/teslamate
              tag: 1.28.3
            env:
              TZ: &tz America/Vancouver
              TM_TZ: *tz
              DISABLE_MQTT: "false"
              MQTT_HOST: mosquitto.default.svc.cluster.local
            envFrom:
              - secretRef:
                  name: teslamate-secret

    service:
      main:
        ports:
          http:
            port: 4000

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.chestr.dev?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: teslamate.png
          gethomepage.dev/name: TeslaMate
          gethomepage.dev/group: Monitoring
        hosts:
          - host: &host teslamate.chestr.dev
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    resources:
      requests:
        memory: 250Mi
        cpu: 50m
      limits:
        memory: 500Mi
