---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app teslamate
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 1.33.0
            env:
              TZ: &tz America/Vancouver
              DISABLE_MQTT: "false"
              MQTT_HOST: emqx-listeners.default.svc.cluster.local
              DATABASE_NAME: *app
              DATABASE_HOST: teslamate-primary.default.svc.cluster.local
              DATABASE_USER:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: user
              DATABASE_PASS:
                valueFrom:
                  secretKeyRef:
                    name: teslamate-pguser-teslamate
                    key: password
            envFrom:
              - secretRef:
                  name: teslamate-secret

    service:
      app:
        controller: teslamate
        ports:
          http:
            port: &port 4000

    route:
      app:
        hostnames: ["{{ .Release.Name }}.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: teslamate.png
          gethomepage.dev/name: TeslaMate
          gethomepage.dev/group: Observability
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    resources:
      requests:
        memory: 250Mi
        cpu: 50m
      limits:
        memory: 500Mi
