---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
    controllers:
      intel-gpu-exporter:
        type: daemonset
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/intel-gpu-exporter
              tag: rolling@sha256:518d4b4be0a4bedd619e33567804d9b07c2e9dabeeec038d8e36129e31f1cc39
            resources:
              requests:
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
                memory: 500Mi
            securityContext:
              privileged: true

    service:
      app:
        controller: intel-gpu-exporter
        ports:
          http:
            port: 8080

    serviceMonitor:
      app:
        enabled: true
        serviceName: intel-gpu-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            relabelings:
              - sourceLabels:
                  - __meta_kubernetes_pod_node_name
                targetLabel: node
