---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 1.123.3
            env:
              GENERIC_TIMEZONE: America/Vancouver
              DB_SQLITE_VACUUM_ON_STARTUP: "true"
              DB_SQLITE_POOL_SIZE: "4"
              N8N_RUNNERS_ENABLED: "true"
              N8N_BLOCK_ENV_ACCESS_IN_NODE: "false"
              N8N_GIT_NODE_DISABLE_BARE_REPOS: "true"
              EXECUTIONS_DATA_PRUNE: "true"
              EXECUTIONS_DATA_MAX_AGE: "7"
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: "50000"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "false"
              WEBHOOK_URL: https://n8n.chestr.dev
              N8N_PROXY_HOPS: "1"
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console
              N8N_TELEMETRY_ENABLED: "false"
              N8N_VERSION_NOTIFICATIONS_ENABLED: "false"
              N8N_HIRING_BANNER_ENABLED: "false"
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: n8n-secret
                    key: N8N_ENCRYPTION_KEY
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 5678

    route:
      app:
        hostnames: ["{{ .Release.Name }}.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/name: n8n
          gethomepage.dev/icon: n8n.png
          gatus.home-operations.com/endpoint: |
            conditions:
              - "[STATUS] == 200"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /home/node/.n8n
