---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zigbee2mqtt
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/gatus/internal-secured
    - ../../../../components/volsync
  dependsOn:
    - name: emqx-cluster
      namespace: *namespace
    - name: onepassword-store
      namespace: external-secrets
    - name: node-feature-discovery-rules
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 30m
  path: ./kubernetes/apps/default/zigbee2mqtt/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: zigbee
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
