---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-mosquitto
  namespace: flux-system
spec:
  targetNamespace: default
  dependsOn:
    - name: cluster-apps-external-secrets-stores
  interval: 30m
  path: ./kubernetes/apps/default/mosquitto/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  wait: true
