---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: shlink-api
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: shlink-api

    controllers:
      main:
        replicas: 3
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
            envFrom:
              - secretRef:
                  name: shlink-dbinit-secret
        containers:
          main:
            image:
              repository: ghcr.io/shlinkio/shlink
              tag: 3.6.4-non-root
            env:
              DB_DRIVER: postgres
              DB_HOST: postgres-rw.default.svc.cluster.local
              DB_NAME: shlink
              DEFAULT_DOMAIN: ln.chestr.dev
              DISABLE_TRACKING_FROM: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
              ENABLE_PERIODIC_VISIT_LOCATE: "true"
              IS_HTTPS_ENABLED: "true"
              PORT: 80
              REDIS_PUB_SUB_ENABLED: "true"
              REDIS_SENTINEL_SERVICE: redis-master
              REDIS_SERVERS: redis-node-0.redis-headless.default.svc.cluster.local:26379,redis-node-1.redis-headless.default.svc.cluster.local:26379, redis-node-2.redis-headless.default.svc.cluster.local:26379
              TIMEZONE: America/Vancouver
            envFrom:
              - secretRef:
                  name: shlink-api-secret

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
        hosts:
          - host: &host ln.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
