---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: autobrr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AUTOBRR__SESSION_SECRET: "{{ .AUTOBRR_SESSION_SECRET }}"
        # OIDC
        AUTOBRR__OIDC_ENABLED: "true"
        AUTOBRR__OIDC_ISSUER: https://auth.chestr.dev
        AUTOBRR__OIDC_CLIENT_ID: autobrr
        AUTOBRR__OIDC_CLIENT_SECRET: "{{ .AUTOBRR_OAUTH_CLIENT_SECRET }}"
        AUTOBRR__OIDC_REDIRECT_URL: https://autobrr.chestr.dev/api/auth/oidc/callback
        AUTOBRR__OIDC_DISABLE_BUILT_IN_LOGIN: "false"
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: autobrr
