---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex-meta-manager
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: 0 */8 * * *
        containers:
          main:
            image:
              repository: docker.io/meisnate12/plex-meta-manager
              tag: v1.20.0
            command:
              - /scripts/run.sh
            env:
              TZ: America/Vancouver
              PUID: 568
              PGID: 568
            envFrom:
              - secretRef:
                  name: plex-meta-manager-secret

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
      config-file:
        type: configMap
        name: plex-meta-manager-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
            subPath: logs
      scripts:
        type: configMap
        name: plex-meta-manager-configmap
        defaultMode: 0775
        globalMounts:
          - path: /scripts/run.sh
            subPath: run.sh
            readOnly: true
    service:
      main:
        enabled: false
