---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - externalsecret.yaml
  - gatus.yaml
  - helmrelease.yaml
  # - prometheusrule.yaml
  - volsync.yaml
