---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-wrapped
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 2
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      plex-wrapped:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: ghcr.io/mchestr/plex-wrapped
              tag: main@sha256:4b069e022617c3cc25f9c37067210198f976755069504bd0dfc4b3848d2c16eb
            env:
              NEXT_PUBLIC_APP_URL: https://wrapped.chestr.dev
              NEXTAUTH_URL: https://wrapped.chestr.dev
              DATABASE_URL: "file:/data/dev.db"
            envFrom:
              - secretRef:
                  name: plex-wrapped-secret
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 2Gi

    service:
      main:
        controller: *app
        ports:
          http:
            port: &port 3000

    route:
      app:
        hostnames: ["wrapped.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: si-plex
          gethomepage.dev/name: Plex Wrapped
          gethomepage.dev/group: Media
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
      tmp:
        type: emptyDir
      nextjs-cache:
        type: emptyDir
        globalMounts:
          - path: /app/.next/cache
