---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tautulli-exporter
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/exporters/tautulli-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  wait: false
