---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: snapscheduler
spec:
  interval: 30m
  chart:
    spec:
      chart: snapscheduler
      version: 3.3.0
      sourceRef:
        kind: HelmRepository
        name: backube-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
