---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chestr-dev-cert-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "*.chestr.dev"
        group: certificates
        url: "tls://internal.chestr.dev:443"
        interval: 24h
        conditions:
          - "[CONNECTED] == true"
          - "[CERTIFICATE_EXPIRATION] > 336h"
        alerts:
          - type: pushover
