---
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: kubernetes
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  # renovate: datasource=github-releases depName=siderolabs/kubelet extractVersion=^v(?<version>.*)$
  version: "1.29.0"
  serviceAccountName: system-upgrade
  secrets:
    - name: talos
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
  prepare:
    image: &image ghcr.io/siderolabs/talosctl:v1.6.0
    envs: &envs
      - name: NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
    args:
      - --nodes=$(NODE_IP)
      - health
      - --server=false
  upgrade:
    image: *image
    envs: *envs
    args:
      - --nodes=$(NODE_IP)
      - upgrade-k8s
      - --to=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
