---
- name: Create WireGuard directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    recurse: true
  loop:
    - /config/auth

- name: Check WireGuard version
  ansible.builtin.command: dpkg-query -W wireguard
  register: wireguard_version_check
  failed_when: false
  changed_when: false

- name: Download WireGuard
  when: >
    wireguard_version_check.stdout is not defined
    or wireguard_version not in wireguard_version_check.stdout
  ansible.builtin.get_url:
    url: "{{ wireguard_download_url }}"
    dest: /tmp/wireguard-{{ wireguard_version }}.deb
    mode: 0755

- name: Create WireGuard private key
  ansible.builtin.copy:
    dest: /config/auth/wg.key
    mode: 0755
    content: |
      {{ wireguard_private_key }}

- name: Install WireGuard
  when: wireguard_version_check.stdout is not defined
  vars:
    ansible_network_os: edgeos
    ansible_connection: network_cli
  block:
    - name: Install WireGuard .deb
      community.network.edgeos_config:
        save: true
        backup: true
        lines:
          - dpkg -i /tmp/wireguard-{{ wireguard_version }}.deb
          - modprobe wireguard
    - name: Configure Interfaces
      community.network.edgeos_config:
        save: true
        backup: true
        lines:
          - set interfaces wireguard wg0 private-key /config/auth/wg.key
          - set interfaces wireguard wg0 address 192.168.33.1/24
          - set interfaces wireguard wg0 listen-port 51820
          - set interfaces wireguard wg0 route-allowed-ips true

          - set firewall name WAN_LOCAL rule 30 action accept
          - set firewall name WAN_LOCAL rule 30 protocol udp
          - set firewall name WAN_LOCAL rule 30 description 'WireGuard'
          - set firewall name WAN_LOCAL rule 30 destination port 51820

          - set interfaces wireguard wg0 peer {{ wireguard_mchestr_phone_public_key }} allowed-ips 192.168.33.10/32

- name: Upgrade WireGuard
  when: >
    wireguard_version_check.stdout is defined
    and wireguard_version not in wireguard_version_check.stdout
  vars:
    ansible_network_os: edgeos
    ansible_connection: network_cli
  community.network.edgeos_config:
    save: true
    backup: true
    lines:
      - set interfaces wireguard wg0 route-allowed-ips false
      - commit

      - delete interfaces wireguard
      - commit

      - rmmod wireguard
      - dpkg -i /tmp/wireguard-{{ wireguard_version }}.deb
      - modprobe wireguard
      - load
      - commit
