---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name dashbrr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        DASHBRR_AUTOBRR_API_KEY: "{{ .AUTOBRR_API_KEY }}"
        DASHBRR_RADARR_API_KEY: "{{ .RADARR_API_KEY }}"
        DASHBRR_SONARR_API_KEY: "{{ .SONARR_API_KEY }}"
        DASHBRR_PROWLARR_API_KEY: "{{ .PROWLARR_API_KEY }}"
        DASHBRR_JELLYSEERR_API_KEY: "{{ .JELLYSEERR_API_KEY }}"
        DASHBRR_MAINTAINERR_API_KEY: "{{ .MAINTAINERR_API_KEY }}"
        DASHBRR_PLEX_API_KEY: "{{ .PLEX_API_TOKEN }}"
        # OIDC
        OIDC_ISSUER: "https://auth.chestr.dev"
        OIDC_CLIENT_ID: dashbrr
        OIDC_CLIENT_SECRET: "{{ .DASHBRR_OAUTH_CLIENT_SECRET }}"
        OIDC_REDIRECT_URL: "https://dashbrr.chestr.dev/api/auth/callback"
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: autobrr
    - extract:
        key: jellyseerr
    - extract:
        key: maintainerr
    - extract:
        key: plex
    - extract:
        key: prowlarr
    - extract:
        key: radarr
    - extract:
        key: sonarr
