---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app unifi-poller
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *app
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        UP_UNIFI_DEFAULT_USER: "{{ .UNIFI_POLLER_USER }}"
        UP_UNIFI_DEFAULT_PASS: "{{ .UNIFI_POLLER_PASSWORD }}"
  dataFrom:
    - extract:
        key: unifi
