---
logger:
  default: info

mqtt:
  client_id: frigate
  host: emqx-listeners.default.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

birdseye:
  enabled: true

detectors:
  coral:
    type: edgetpu
    device: usb

review:
  genai:
    enabled: true
    image_source: recordings

lpr:
  enabled: true

semantic_search:
  enabled: true
  reindex: false
  model_size: small

genai:
  provider: openai
  api_key: "{FRIGATE_FRIGATE_OPENAI_API_KEY}"
  model: gpt-5-mini

model:
  # https://docs.frigate.video/configuration/objects
  labelmap:
    2: vehicle # car
    3: vehicle # motorcycle
    4: vehicle # airplane
    5: vehicle # bus
    6: vehicle # train
    7: vehicle # car
    8: vehicle # boat
    15: animal # bird
    16: animal # cat
    17: animal # dog
    18: animal # horse
    19: animal # sheep
    20: animal # cow
    21: animal # elephant
    22: animal # bear
    23: animal # zebra
    24: animal # giraffe
    26: package # backpack
    30: package # handbag
    32: package # suitcase

ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args: preset-intel-qsv-h264

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 2

record:
  enabled: true
  continuous:
    days: 3
  motion:
    days: 7
  alerts:
    retain:
      days: 30
      mode: all
  detections:
    retain:
      days: 30
      mode: all

objects:
  track:
    - person
    - vehicle
    - animal
    - package
  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7

audio:
  enabled: true
  listen:
    - alarm
    - ambulance
    - bang
    - break
    - breaking
    - emergency_vehicle
    - fire_alarm
    - glass
    - knock
    - noise
    - police_car
    - scream
    - siren
    - smash
    - speech
    - tap
    - yell

go2rtc:
  webrtc:
    listen: :8555
    candidates:
      - 10.0.20.60:8555
      - stun:8555
    ice_servers:
      - urls:
          - stun:stun.cloudflare.com:3478
  streams:
    living_room_hd:
      - ffmpeg:http://192.168.200.25/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={FRIGATE_LIVING_ROOM_CAMERA_USERNAME}&password={FRIGATE_LIVING_ROOM_CAMERA_PASSWORD}#video=copy#audio=copy#audio=opus
    living_room_sd:
      - ffmpeg:http://192.168.200.25/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user={FRIGATE_LIVING_ROOM_CAMERA_USERNAME}&password={FRIGATE_LIVING_ROOM_CAMERA_PASSWORD}
    doorbell_hd:
      - rtsps://10.0.40.1:7441/KZjqe7cXROBkVewl
    doorbell_sd:
      - rtsps://10.0.40.1:7441/NCjKjmbsiMjdPJkH
    doorbell_package:
      - rtsps://10.0.40.1:7441/D9DfIKJZfH6Dz9Oh
    catcam1:
      - onvif://{FRIGATE_CATCAM_CAMERA_USERNAME}:{FRIGATE_CATCAM_CAMERA_PASSWORD}@192.168.200.104:8000
    # catcam2:
    #   - onvif://{FRIGATE_CATCAM_CAMERA_USERNAME}:{FRIGATE_CATCAM_CAMERA_PASSWORD}@192.168.200.99:8000
cameras:
  living_room:
    lpr:
      enabled: false
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-aac
      inputs:
        - path: rtsp://127.0.0.1:8554/living_room_hd?video=copy&audio=aac
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
            - audio
        - path: rtsp://127.0.0.1:8554/living_room_sd?video=copy&audio=aac
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
    motion:
      mask:
        - 0.727,0,0.73,0.074,0.248,0.077,0.248,0
    live:
      streams:
        Main: living_room_hd
        Sub: living_room_sd
    # Enable PTZ support
    onvif:
      host: 192.168.200.25
      port: 8000
      user: "{FRIGATE_LIVING_ROOM_CAMERA_USERNAME}"
      password: "{FRIGATE_LIVING_ROOM_CAMERA_PASSWORD}"

  doorbell:
    detect:
      enabled: true
    objects:
      genai:
        enabled: true
        use_snapshot: True
        objects:
          - person
          - vehicle
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell_hd?video=copy&audio=aac
          input_args: preset-rtsp-restream
          roles:
            - audio
            - record
        - path: rtsp://127.0.0.1:8554/doorbell_sd?video=copy&audio=aac
          input_args: preset-rtsp-restream
          roles:
            - detect
    live:
      streams:
        Main: doorbell_hd
        Sub: doorbell_sd
    motion:
      mask:
        - 0,0.034,0.259,0.035,0.26,0,0,0
    zones:
      entry:
        friendly_name: Main Entrance Zone
        coordinates: 0.79,1,0.699,0.795,0.553,0.799,0.573,0.318,0.678,0.102,0.671,0.003,0,0,0,1
      driveway:
        friendly_name: Main Driveway
        coordinates: 0.796,1,0.572,0.561,0.574,0.485,0.824,0.497,0.823,0.568,1,0.63,1,1

  doorbell_package:
    detect:
      enabled: true
    audio:
      enabled: false
    lpr:
      enabled: false
    objects:
      genai:
        enabled: true
        use_snapshot: True
        objects:
          - package
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell_package?video=copy
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    live:
      streams:
        Main: doorbell_package
    review:
      alerts:
        required_zones:
          - doorstep
      detections:
        required_zones:
          - doorstep
    zones:
      doorstep:
        friendly_name: Doorstep
        coordinates: 0.382,0.24,0.798,0.241,0.935,0.831,0.544,0.832,0.311,0.837
        objects:
          - package
        loitering_time: 10
        filters:
          package:
            threshold: 0.75

  catcam1:
    audio:
      enabled: false
    lpr:
      enabled: false
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-aac
      inputs:
        - path: rtsp://127.0.0.1:8554/catcam1?video=copy&audio=aac
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    live:
      streams:
        Main: catcam1
    onvif:
      host: 192.168.200.104
      port: 8000
      user: "{FRIGATE_CATCAM_CAMERA_USERNAME}"
      password: "{FRIGATE_CATCAM_CAMERA_PASSWORD}"

  # catcam2:
  #   audio:
  #     enabled: false
  #   lpr:
  #     enabled: false
  #   ffmpeg:
  #     output_args:
  #       record: preset-record-generic-audio-aac
  #     inputs:
  #       - path: rtsp://127.0.0.1:8554/catcam2?video=copy&audio=aac
  #         input_args: preset-rtsp-restream
  #         roles:
  #           - record
  #           - detect
  #   motion:
  #     mask:
  #       - 0.025,0.039,0.263,0.039,0.265,0.087,0.023,0.086
  #   live:
  #     streams:
  #       Main: catcam2
  #   onvif:
  #     host: 192.168.200.99
  #     port: 8000
  #     user: "{FRIGATE_CATCAM_CAMERA_USERNAME}"
  #     password: "{FRIGATE_CATCAM_CAMERA_PASSWORD}"

auth:
  enabled: true

proxy:
  header_map:
    user: remote-user
    role: remote-groups

tls:
  enabled: false
