---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flux-operator
  namespace: &namespace flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  path: ./kubernetes/apps/flux-system/flux-operator/app
  prune: false
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: *namespace
  targetNamespace: *namespace
  timeout: 5m
  wait: false
