---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sonarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      sonarr:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: sonarr-initdb-secret

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.14.2938@sha256:acd5416ab9c36d017687820a32f09d09a4e25a5754aa5ebeae2e7c63d7609c13
            env:
              TZ: America/Vancouver
              PUSHOVER_DEBUG: "false"
              SONARR__AUTH__METHOD: External
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__INSTANCENAME: Sonarr
              SONARR__PORT: 8989
              SONARR__LOG__LEVEL: info
              SONARR__THEME: dark
              # Postgres Setup
              SONARR__POSTGRES__HOST: sonarr-primary.media.svc.cluster.local
              SONARR__POSTGRES__PORT: "5432"
              SONARR__POSTGRES__USER:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-pguser-sonarr
                    key: user
              SONARR__POSTGRES__PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-pguser-sonarr
                    key: password
              SONARR__POSTGRES__MAINDB: *app
              SONARR__LOG__DBENABLED: "false"
            envFrom:
              - secretRef:
                  name: sonarr-secret

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8989

    route:
      app:
        hostnames: ["{{ .Release.Name }}.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: sonarr.png
          gethomepage.dev/name: Sonarr
          gethomepage.dev/group: Downloads
          gethomepage.dev/widget.type: *app
          gethomepage.dev/widget.url: http://sonarr.media.svc.cluster.local:8989
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_SONARR_API_KEY}}" }}'
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      media:
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media
        globalMounts:
          - path: /media
      scripts:
        type: configMap
        name: sonarr-pushover
        defaultMode: 0775
        globalMounts:
          - path: /scripts/pushover-notify.sh
            subPath: pushover-notify.sh
      config:
        existingClaim: *app
      tmp:
        type: emptyDir
