---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: displex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      displex:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.2"
            envFrom:
              - secretRef:
                  name: displex-dbinit-secret

        containers:
          app:
            image: &image
              repository: ghcr.io/mchestr/displex
              tag: main@sha256:5980031a701c40a34e685ff0e4d50285fd741ac85d72766d3d3969056bdd5c4c
            args:
              - server
            env: &envRw
              DISPLEX_DATABASE__HOST: postgres16-rw.default.svc.cluster.local
              RUST_LOG: displex=info,sea_orm=info,warn
            resources: &resources
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 20Mi

      bot:
        type: deployment
        containers:
          app:
            args:
              - bot
            image: *image
            env: &envRo
              DISPLEX_DATABASE__READ_ONLY: "true"
              DISPLEX_DATABASE__HOST: postgres16-ro.default.svc.cluster.local
              RUST_LOG: displex=info,sea_orm=info,warn
            resources: *resources

      channel-refresh:
        type: cronjob
        cronjob:
          schedule: "*/10 * * * *"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30
        containers:
          app:
            args:
              - channel-refresh
            env: *envRo
            image: *image
            resources: *resources

      requests-upgrade:
        type: cronjob
        cronjob:
          schedule: "@daily"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30

        containers:
          app:
            args:
              - requests-upgrade
            image: *image
            env: *envRo
            resources: *resources

      token-maintenance:
        type: cronjob
        cronjob:
          schedule: "* */12 * * *"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30

        containers:
          app:
            args:
              - token-maintenance
            image: *image
            env: *envRw
            resources: *resources

      user-refresh:
        type: cronjob
        cronjob:
          schedule: "@daily"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30

        containers:
          app:
            args:
              - user-refresh
            image: *image
            env: *envRo
            resources: *resources

    service:
      app:
        controller: displex
        ports:
          http:
            port: 8080

    ingress:
      app:
        enabled: true
        className: external
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.chestr.dev?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
        hosts:
          - host: &host "{{ .Release.Name }}.chestr.dev"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: secret
        name: displex-secret
        globalMounts:
          - path: /data/displex.toml
            subPath: displex.toml
