---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app github-token
  namespace: flux-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: github-token-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        token: "{{ .GITHUB_TOKEN }}"
  dataFrom:
    - extract:
        key: github
