asttokens==3.0.0
decorator==5.1.1
executing==2.1.0
ipython==8.31.0
jedi==0.19.2
Jinja2==3.1.5
jsonpickle==4.0.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
networkx==3.4.2
numpy==2.2.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
tzdata==2024.2
wcwidth==0.2.13
