---
- name: Configure Dynamic DNS
  vars:
    prefix: set service dns dynamic interface eth0 service
    services:
      - domain: "{{ cluster_domain }}"
        hosts:
          - ipv4
          - dns
      - domain: "{{ personal_domain }}"
        hosts:
          - vpn
  loop: "{{ services | subelements('hosts') }}"
  loop_control:
    index_var: index
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} custom-cloudflare{{ index }} host-name {{ item.1 }}.{{ item.0.domain }}"
      - "{{ prefix }} custom-cloudflare{{ index }} login {{ cloudflare_email }}"
      - "{{ prefix }} custom-cloudflare{{ index }} password {{ cloudflare_password }}"
      - "{{ prefix }} custom-cloudflare{{ index }} options 'zone={{ item.0.domain }} use=web ssl=yes ttl=1'"
      - "{{ prefix }} custom-cloudflare{{ index }} protocol cloudflare"
- name: Configure DNS Forwarding
  vars:
    prefix: set service dns forwarding
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} system"
      - "{{ prefix }} cache-size 500"
      - "{{ prefix }} listen-on switch0.10"
      - "{{ prefix }} listen-on switch0.20"
      - "{{ prefix }} listen-on switch0.1"
      - "{{ prefix }} options port=5353"
      - "{{ prefix }} options address=/dns.{{ cluster_domain }}/192.168.1.1"

# TODO: make this better
- name: Configure lochnas Forwarding
  vars:
    prefix: set service dns forwarding
  loop: "{{ lookup('ansible.builtin.dict', static_lan_ips) }}"
  when: "'LochNas' in item.key"
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} options address=/lochnas.{{ internal_domain }}/{{ item.value.ip_address }}"

- name: Configure octoprint Forwarding
  vars:
    prefix: set service dns forwarding
  loop: "{{ lookup('ansible.builtin.dict', static_lan_ips) }}"
  when: "'OctoPrint' in item.key"
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} options address=/octoprint.{{ internal_domain }}/{{ item.value.ip_address }}"

- name: Configure octoprint ender Forwarding
  vars:
    prefix: set service dns forwarding
  loop: "{{ lookup('ansible.builtin.dict', static_lan_ips) }}"
  when: "'ender' in item.key"
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} options address=/ender.{{ cluster_domain }}/{{ item.value.ip_address }}"
