---
- name: Configure DHCP Global PXE booting  
  vars:
    prefix: service dhcp-server global-parameters
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} 'allow booting;'"
      - "{{ prefix }} 'allow bootp;'"
      - "{{ prefix }} 'option option-128 code 128 = string;'"
      - "{{ prefix }} 'option option-129 code 129 = text;'"
      - "{{ prefix }} 'option system-arch code 93 = unsigned integer 16;'"

- name: Configure Sidero PXE booting  
  vars:
    prefix: set service dhcp-server shared-network-name LAN subnet 192.168.1.0/24
  community.network.edgeos_config:
    lines:
      - "{{ prefix }} bootfile-server 192.168.1.195"
      - "{{ prefix }} bootfile-name undionly.kpxe"


