---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name cloudflare-api-token
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        api-token: "{{ .CLOUDFLARE_CERTMANAGER_TOKEN }}"
  dataFrom:
    - extract:
        key: cloudflare
