---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app smtp-relay
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: smtp-relay-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        SMTP_USERNAME: "{{ .SES_USERNAME }}"
        SMTP_PASSWORD: "{{ .SES_PASSWORD }}"
        SMTP_SERVER: email-smtp.us-west-2.amazonaws.com
        SMTP_PORT: "465"
  dataFrom:
    - extract:
        key: aws-ses
