---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        CF_API_TOKEN: "{{ .CLOUDFLARE_EXTERNAL_DNS_TOKEN }}"
  dataFrom:
    - extract:
        key: cloudflare
