---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-loki
  namespace: flux-system
spec:
  targetNamespace: monitoring
  dependsOn:
    - name: cluster-apps-external-secrets-stores
  path: ./kubernetes/apps/monitoring/loki/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 15m
  wait: true
