---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-appdaemon
  namespace: flux-system
spec:
  targetNamespace: default
  dependsOn:
    - name: cluster-apps-external-secrets-stores
    - name: cluster-apps-home-assistant
    - name: cluster-apps-volsync
  path: ./kubernetes/apps/default/appdaemon/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: appdaemon
      VOLSYNC_CLAIM: appdaemon-config
