---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: local-path-provisioner
spec:
  interval: 30m
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.5
      sourceRef:
        name: democratic-csi-charts
        kind: HelmRepository
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csiDriver:
      name: org.democratic-csi.local-hostpath
      storageCapacity: true
      attachRequired: false
      fsGroupPolicy: File

    storageClasses:
      - name: local-path
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: false
    volumeSnapshotClasses:
      - name: local-hostpath
        deletionPolicy: Delete
        parameters:
          cluster: k8s
    controller:
      enabled: true
      strategy: node
      externalProvisioner:
        image: registry.k8s.io/sig-storage/csi-provisioner:v4.0.0
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1
      externalResizer:
        enabled: false
      externalAttacher:
        enabled: false
      externalSnapshotter:
        enabled: true
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
      nodeSelector: &nodeSelector
        kubernetes.io/role: worker
    node:
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.8.4
        extraVolumeMounts:
          - name: local-hostpath
            mountPath: &path /var/localpath/demo-csi-local-path
            mountPropagation: Bidirectional
      extraVolumes:
        - name: local-hostpath
          hostPath:
            path: *path
            type: DirectoryOrCreate
      nodeSelector: *nodeSelector
    driver:
      config:
        driver: local-hostpath
        instance_id: k8s-local-hostpath
        local-hostpath:
          shareBasePath: *path
          controllerBasePath: *path
          dirPermissionsMode: "0770"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0
