---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tautulli
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-external-secrets-stores
    - name: cluster-apps-volsync
  path: ./kubernetes/apps/default/tautulli/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: tautulli
      VOLSYNC_CLAIM: tautulli-config
      VOLSYNC_CACHE_CAPACITY: 2Gi
      VOLSYNC_CAPACITY: 2Gi
