---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ersatztv
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      ersatztv:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/ersatztv/ersatztv
              tag: v25.9.0@sha256:abeaae053c58ab3dce5e4771a1fe61f84b49d58360a110824698aa88402d055f
            env:
              TZ: America/Vancouver
              XDG_DATA_HOME: /config
            resources:
              requests:
                gpu.intel.com/i915: 1
                cpu: 10m
                memory: 256Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 4Gi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]

    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
          - 105
          - 10000
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8409

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.chestr.dev"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: ersatztv.png
          gethomepage.dev/name: ErsatzTV
          gethomepage.dev/group: Media
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: nebula.chestr.dev
        path: /var/nfs/shared/cluster/media
        globalMounts:
          - path: /data
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          ersatztv:
            app:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: tmp
              - path: /transcode
                subPath: transcode
