---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    serviceMonitor:
      enabled: true
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
      params:
        - name: udm-pro
          target: 192.168.1.208
          module:
            - if_mib
          auth:
            - public_v2
        - name: udm-pro-max
          target: 192.168.1.1
          module:
            - if_mib
          auth:
            - public_v2
        - name: usw-pro-max-24-poe
          target: 192.168.1.96
          module:
            - if_mib
          auth:
            - public_v2
        - name: usw-pro-aggregation
          target: 192.168.1.35
          module:
            - if_mib
          auth:
            - public_v2
        - name: uap-ac-lite
          target: 192.168.1.128
          module:
            - if_mib
          auth:
            - public_v2
        - name: u7-pro-xg
          target: 192.168.1.161
          module:
            - if_mib
          auth:
            - public_v2
      path: /snmp
      scrapeTimeout: 10s
