---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-gtnh
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft
      version: 4.23.7
      sourceRef:
        kind: HelmRepository
        name: itzg-minecraft-charts
        namespace: flux-system
      interval: 15m
  values:
    workloadAsStatefulSet: true
    strategyType: OnDelete
    image:
      repository: docker.io/itzg/minecraft-server
      tag: java17-graalvm-ce
    resources:
      requests:
        memory: 6Gi
        cpu: 1500m
      limits:
        memory: 8Gi
        cpu: 3000m
    livenessProbe:
      initialDelaySeconds: 300
      periodSeconds: 5
      failureThreshold: 10
      successThreshold: 1
      timeoutSeconds: 1
    readinessProbe:
      initialDelaySeconds: 180
      periodSeconds: 5
      failureThreshold: 30
      successThreshold: 1
      timeoutSeconds: 1
    extraEnv:
      NETWORK_COMPRESSION_THRESHOLD: "-1"
      REPLACE_ENV_VARIABLES: "TRUE"
      REPLACE_ENV_DURING_SYNC: "TRUE"
      CFG_LP_SERVER: "global"
      # Only need for initial bootstrap
      # GENERIC_PACKS: GT_New_Horizons_2.7.2_Server_Java_17-21
      # GENERIC_PACKS_PREFIX: http://downloads.gtnewhorizons.com/ServerPacks/
      # GENERIC_PACKS_SUFFIX: .zip
      # SKIP_GENERIC_PACK_UPDATE_CHECK: "false"
      # SKIP_GENERIC_PACK_CHECKSUM: "false"
      REMOVE_OLD_MODS: "TRUE"
      REMOVE_OLD_MODS_INCLUDE: "journeymap-1.7.10*"
      MODRINTH_PROJECTS: journeymap:1.7.10-5.1.4p6,
      CUSTOM_JAR_EXEC: -jar lwjgl3ify-forgePatches.jar nogui
    serviceAnnotations:
      # mc-router.itzg.me/externalServerName: mc-gtnh.chestr.dev
      mc-router.itzg.me/defaultServer: "true"
    minecraftServer:
      eula: "TRUE"
      overrideServerProperties: true
      version: "1.7.10"
      type: "FORGE"
      difficulty: "hard"
      viewDistance: 20
      gameMode: survival
      pvp: true
      onlineMode: true
      maxWorldSize: 29999983
      maxTickTime: -1
      memory: 6G
      levelType: rwg
      whitelist: "mchestr,"
      ops: ""
      jvmOpts: "-Dfml.readTimeout=180 -Dfml.queryResult=confirm @java9args.txt"
      rcon:
        enabled: true
      motd: "GTNH: §l§c2.7.2§r §n"
      extraPorts:
        - name: map
          containerPort: 8123
          protocol: TCP
          service:
            enabled: true
            type: ClusterIP
            port: 8123
          ingress:
            ingressClassName: external
            annotations:
              external-dns.alpha.kubernetes.io/target: external.chestr.dev
            enabled: true
            hosts:
              - name: &host gtnhmap.chestr.dev
                path: /
            tls:
              - hosts:
                  - *host
    persistence:
      dataDir:
        enabled: true
        existingClaim: *app
  valuesFrom:
    - kind: Secret
      name: minecraft-gtnh-secret
      valuesKey: RCON_PASSWORD
      targetPath: minecraftServer.rcon.password
