---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kometa
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 2
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      kometa:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "0 */8 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 86400
        containers:
          app:
            image:
              repository: docker.io/kometateam/kometa
              tag: v2.3.0@sha256:340e4176e1d75f04d2b55ce177326710f28770b5f56537fd539a034b143fe66d
            command:
              - /bin/sh
              - -c
            args:
              - |
                python3 kometa.py --run --read-only-config --run-libraries "Movies";
                python3 kometa.py --run --read-only-config --run-libraries "TV Shows";
            env:
              TZ: America/Vancouver
            envFrom:
              - secretRef:
                  name: kometa-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 8128Mi
        pod:
          restartPolicy: Never

    persistence:
      config:
        existingClaim: *app
      config-file:
        type: configMap
        name: kometa-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
          - path: /config/1-moviecharts.yml
            subPath: 1-moviecharts.yml
            readOnly: true
          - path: /config/2-tvcharts.yml
            subPath: 2-tvcharts.yml
            readOnly: true
          - path: /config/3-bestof.yml
            subPath: 3-bestof.yml
            readOnly: true
          - path: /config/5-holiday.yml
            subPath: 5-holiday.yml
            readOnly: true
          - path: /config/7-networks.yml
            subPath: 7-networks.yml
            readOnly: true
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
