---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-vector-aggregator
  namespace: flux-system
spec:
  targetNamespace: monitoring
  dependsOn:
    - name: cluster-apps-loki
  path: ./kubernetes/apps/monitoring/vector/aggregator
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 15m
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-vector-agent
  namespace: flux-system
spec:
  targetNamespace: monitoring
  dependsOn:
    - name: cluster-apps-vector-aggregator
  path: ./kubernetes/apps/monitoring/vector/agent
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 15m
  wait: true
