---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thelounge
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: thelounge-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config.js: |
          "use strict";
          module.exports = {
            public: false,
            host: undefined,
            port: 9000,
            bind: undefined,
            reverseProxy: false,
            maxHistory: 10000,
            https: {
              enable: false,
              key: "",
              certificate: "",
              ca: "",
            },
            theme: "default",
            prefetch: false,
            disableMediaPreview: false,
            prefetchStorage: false,
            prefetchMaxImageSize: 2048,
            prefetchMaxSearchSize: 50,
            prefetchTimeout: 5000,
            fileUpload: {
              enable: false,
              maxFileSize: 10240,
              baseUrl: null,
            },
            transports: ["polling", "websocket"],
            leaveMessage: "The Lounge - https://thelounge.chat",
            defaults: {
              name: "Libera.Chat",
              host: "irc.libera.chat",
              port: 6697,
              password: "",
              tls: true,
              rejectUnauthorized: true,
              nick: "thelounge%%",
              username: "thelounge",
              realname: "",
              join: "#thelounge",
              leaveMessage: "",
            },
            lockNetwork: false,
            messageStorage: ["sqlite", "text"],
            useHexIp: false,
            webirc: null,
            identd: {
              enable: false,
              port: 113,
            },
            oidentd: null,
            ldap: {
              enable: true,
              url: "ldap://lldap.default.svc.cluster.local:389",
              tlsOptions: {},
              primaryKey: "uid",
              searchDN: {
                  rootDN: "uid=admin,ou=people,dc=home,dc=arpa",
                  rootPassword: "{{ .LLDAP_LDAP_USER_PASS }}",
                  filter: "(memberOf=cn=thelounge,ou=groups,dc=home,dc=arpa)",
                  base: "dc=home,dc=arpa",
                  scope: "sub",
              },
            },
            debug: {
              ircFramework: false,
              raw: false,
            },
          };
  dataFrom:
    - extract:
        key: lldap
