---
- name: Configure EdgeRouter
  hosts:
    - edgerouter
  become: true
  gather_facts: false
  any_errors_fatal: true

  roles:
    - name: Deploy Router Config
      role: config.router
      tags:
        - config

    - name: Grab acme certs
      role: acme.router
      tags:
        - acme

    - name: Deploy Uptime Kuma ping
      role: uptime-kuma-ping.router
      tags:
        - uptime-kuma-ping

    - name: Deploy WireGuard
      role: wireguard.router
      tags:
        - wireguard
