---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-rewind
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      plex-rewind:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/raunot/plex-rewind
              tag: 4.9.1@sha256:be50218eef3eab6ad7a46fee78c6f9441a9e88d91dbb1f8bbf24c21d99dc1228
            env:
              NEXTAUTH_URL: https://plex-rewind.chestr.dev
              NEXT_PUBLIC_SITE_URL: https://plex-rewind.chestr.dev
            envFrom:
              - secretRef:
                  name: plex-rewind-secret
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8383

    route:
      app:
        hostnames: ["{{ .Release.Name }}.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Plex Rewind
          gethomepage.dev/icon: mdi-rewind
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/config
      nextjs-cache:
        type: emptyDir
        globalMounts:
          - path: /app/.next/cache
