---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/unpackerr/unpackerr
              tag: 0.14.5
            env:
              TZ: America/Vancouver
              UN_WEBSERVER_METRICS: "true"
              UN_SONARR_0_URL: http://sonarr.default.svc.cluster.local:8989
              UN_SONARR_0_PATHS_0: /complete/sonarr
              UN_RADARR_0_URL: http://radarr.default.svc.cluster.local:7878
              UN_RADARR_0_PATHS_0: /complete/radarr
            envFrom:
              - secretRef:
                  name: unpackerr-secret

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539

    service:
      app:
        controller: unpackerr
        ports:
          http:
            port: 5656

    persistence:
      media:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media/downloads/torrents/complete
        globalMounts:
          - path: /complete

    serviceMonitor:
      app:
        serviceName: unpackerr
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
