---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unpackerr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: docker.io/golift/unpackerr
              tag: 0.12.0
            env:
              TZ: America/Vancouver
              UN_WEBSERVER_METRICS: "true"
              UN_SONARR_0_URL: http://sonarr.default.svc.cluster.local:8989
              UN_SONARR_0_PATHS_0: /complete/sonarr
              UN_RADARR_0_URL: http://radarr.default.svc.cluster.local:7878
              UN_RADARR_0_PATHS_0: /complete/radarr
            envFrom:
              - secretRef:
                  name: unpackerr

    service:
      main:
        ports:
          http:
            port: 5656

    persistence:
      media:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media/downloads/torrents/complete
        globalMounts:
          - path: /complete

    serviceMonitor:
      main:
        enabled: true
