---
metrics: true
debug: false

storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/1817506
  link: https://github.com/mchestr
  buttons:
    - name: Github
      link: https://github.com/mchestr
    - name: Homelab
      link: https://github.com/mchestr/home-cluster

web:
  port: ${CUSTOM_WEB_PORT}

connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: heartbeat
    group: external
    ui:
      hide-hostname: true
      hide-url: true
    url: ${STATUS_PAGE_HEARTBEAT_URL}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 200"

  # - name: mainsail.chestr.dev
  #   group: certificates
  #   url: "tls://mainsail.chestr.dev:443"
  #   interval: 24h
  #   conditions:
  #     - "[CONNECTED] == true"
  #     - "[CERTIFICATE_EXPIRATION] > 336h"
  #   alerts:
  #     - type: pushover

  - name: pikvm.chestr.dev
    group: certificates
    url: "tls://pikvm.chestr.dev:443"
    interval: 24h
    conditions:
      - "[CONNECTED] == true"
      - "[CERTIFICATE_EXPIRATION] > 336h"
    alerts:
      - type: pushover

  - name: "*.chestr.dev"
    group: certificates
    url: "tls://external.chestr.dev:443"
    interval: 24h
    conditions:
      - "[CONNECTED] == true"
      - "[CERTIFICATE_EXPIRATION] > 336h"
    alerts:
      - type: pushover
