---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whisper
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - plex
              topologyKey: kubernetes.io/hostname
    controllers:
      whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: onerahmet/openai-whisper-asr-webservice
              tag: v1.9.1@sha256:03b402335881cdab2e4939b24620809df8d6ceec3bf2712217d41c8761a0f5d4
            env:
              TZ: America/Vancouver
              ASR_MODEL: small # tiny, base, small, medium, large, large-v1, large-v2, large-v3, and turbo
              ASR_ENGINEL: faster_whisper # openai_whisper, faster_whisper
            resources:
              limits:
                memory: 10Gi

    service:
      app:
        controller: whisper
        ports:
          http:
            port: 9000

    persistence:
      cache:
        existingClaim: *app
        globalMounts:
          - path: /root/.cache/whisper
