---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-factorio-ir3
  namespace: flux-system
spec:
  targetNamespace: game-system
  dependsOn:
    - name: cluster-apps-external-secrets-stores
    - name: cluster-apps-volsync
  path: ./kubernetes/apps/game-system/factorio/ir3
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: factorio-ir3
      VOLSYNC_CLAIM: factorio-ir3-data
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_CACHE_CAPACITY: 10Gi
