clusterName: home-cluster
# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: "v1.6.6"
# renovate: datasource=github-releases depName=siderolabs/kubelet
kubernetesVersion: "v1.29.2"

endpoint: https://${clusterName}.chestr.dev:6443
allowSchedulingOnMasters: true

cniConfig:
  name: none

additionalApiServerCertSans: &sans
  - ${clusterEndpointIP}
  - "127.0.0.1"  #kubeprism

additionalMachineCertSans: *sans

nodes:
  - hostname: k8s-0
    ipAddress: 192.168.1.200
    controlPlane: true
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata2/host1/target1:0:0/1:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: e1000e
        dhcp: true
        vip:
          ip: 192.168.1.254
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - &vlan10
            vlanId: 10
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-1
    ipAddress: 192.168.1.201
    controlPlane: false
    installDiskSelector:
      busPath: /pci0000:00/0000:00:1f.2/ata1/host0/target0:0:0/0:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: e1000e
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-2
    ipAddress: 192.168.1.202
    controlPlane: false
    installDiskSelector:
      busPath: /pci0000:00/0000:00:1f.2/ata4/host3/target3:0:0/3:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: r8169
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-3
    ipAddress: 192.168.1.203
    controlPlane: true
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata2/host1/target1:0:0/1:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: e1000e
        dhcp: true
        vip:
          ip: 192.168.1.254
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-4
    ipAddress: 192.168.1.204
    controlPlane: true
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata2/host1/target1:0:0/1:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: e1000e
        dhcp: true
        vip:
          ip: 192.168.1.254
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-5
    ipAddress: 192.168.1.205
    controlPlane: false
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata2/host1/target1:0:0/1:0:0:0/
    networkInterfaces:
      - deviceSelector:
          driver: e1000e
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client

  - hostname: k8s-6
    ipAddress: 192.168.1.206
    controlPlane: false
    installDiskSelector:
      busPath: /pci0000:00/0000:00:1d.0/0000:04:00.0/nvme/nvme0/nvme0n1
    networkInterfaces:
      - deviceSelector:
          driver: alx
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vlans:
          - *vlan10
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
            - siderolabs/nut-client
            - siderolabs/nonfree-kmod-nvidia
            - siderolabs/nvidia-container-toolkit
    patches:
      - |-
        - op: add
          path: /machine/kernel
          value:
            modules:
              - name: nvidia
              - name: nvidia_uvm
              - name: nvidia_drm
              - name: nvidia_modeset
      - |-
        - op: add
          path: /machine/sysctls
          value:
            net.core.bpf_jit_harden: 1

controlPlane:
  patches:
    # Disable search domain everywhere
    - &disableSearchDomainsPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Configure NTP
    - &ntpPatch |-
      machine:
        time:
          disabled: false
          servers:
            - time.cloudflare.com

    # Enable KubePrism
    - &kubePrismPatch |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    - &discoveryPatch |-
      cluster:
        discovery:
          registries:
            kubernetes:
              disabled: false
            service:
              disabled: false

    # Configure containerd
    - &containerdPatch |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |-
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
              [plugins."io.containerd.grpc.v1.cri".containerd]
                discard_unpacked_layers = false
              [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                discard_unpacked_layers = false

    # Configure NUT Client
    - &nutPatch |-
      machine:
        files:
          - op: create
            path: /var/etc/nut/upsmon.conf
            content: |
              MONITOR ups@lochnas.chestr.dev 1 ${upsmonUser} ${upsmonPasswd} slave
              SHUTDOWNCMD "/sbin/poweroff"

    - &sysctlPatch |-
      machine:
        sysctls:
          fs.inotify.max_user_watches: 1048576
          fs.inotify.max_user_instances: 8192
          kernel.randomize_va_space: 0
          net.core.netdev_max_backlog: 30000
          net.core.rmem_max: 67108864
          net.core.wmem_max: 67108864
          net.ipv4.tcp_rmem: 4096 87380 33554432
          net.ipv4.tcp_wmem: 4096 65536 33554432
          net.ipv4.tcp_tw_reuse: 1
          net.ipv4.tcp_window_scaling: 1

    # Kubelet configuration
    - &kubeletPatch |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: GracefulNodeShutdown=true,NewVolumeManagerReconstruction=false
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.1.0/24

    # Add os=talos label
    - &talosLabel |-
      - op: add
        path: /machine/nodeLabels
        value:
          node/operating-system: talos

    # Configure cluster loopback
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: ${clusterEndpointIP}
              aliases:
                - ${clusterName}.chestr.dev

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: true
        proxy:
          disabled: true

    # ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 192.168.1.0/24

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - kube-system

worker:
  patches:
    - *disableSearchDomainsPatch
    - *ntpPatch
    - *kubePrismPatch
    - *containerdPatch
    - *discoveryPatch
    - *kubeletPatch
    - *nutPatch
    - *sysctlPatch
    - *talosLabel

    # Add role=worker label
    - |-
      - op: add
        path: /machine/nodeLabels
        value:
          kubernetes.io/role: worker

    # Configure local-path CSI directory
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/localpath
              type: bind
              source: /var/localpath
              options:
                - rbind
                - rshared
                - rw
