---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - files:
      - ./resources/pushover-notify.sh
    name: radarr-pushover
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  disableNameSuffixHash: true
resources:
  - externalsecret.yaml
  - helmrelease.yaml
