---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
resources:
  - ./exporters
  - ./fluent-bit/ks.yaml
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kromgo/ks.yaml
  - ./loki/ks.yaml
  - ./silence-operator/ks.yaml
  - ./unpoller/ks.yaml
  - ./victoria-logs/ks.yaml
  - ./victoria-metrics/ks.yaml
