---
apiVersion: v1
kind: ConfigMap
metadata:
  name: plex-gatus-ep
  namespace: default
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: plex
        group: external
        url: https://plex.chestr.dev/web/index.html
        interval: 30m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: pushover
