---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      runtimeClassName: nvidia
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
          - 109
          - 65539
      nodeSelector:
        nvidia.feature.node.kubernetes.io/gpu: "true"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - frigate
              topologyKey: kubernetes.io/hostname

    controllers:
      plex:
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/plex
              tag: 1.40.1.8227-c0dd5a73e@sha256:40bfdef83ba3c733dbd7932da6c639ea8d09beadddfc682189c81192c89248aa
            env:
              TZ: America/Vancouver
            resources:
              requests:
                cpu: 100m
                memory: 2000Mi
                nvidia.com/gpu: 1
              limits:
                memory: 8000Mi
                nvidia.com/gpu: 1

    service:
      app:
        type: LoadBalancer
        controller: plex
        annotations:
          io.cilium/lb-ipam-ips: 192.168.100.30
        externalTrafficPolicy: Cluster
        ports:
          http:
            enabled: true
            port: 32400
            protocol: TCP
            targetPort: 32400

    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: plex.png
          gethomepage.dev/name: Plex
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: plex
          gethomepage.dev/widget.url: http://plex.default.svc.cluster.local:32400
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_PLEX_API_KEY}}"
        hosts:
          - host: &host "{{ .Release.Name }}.chestr.dev"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
      media:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media
        globalMounts:
          - path: /media
      transcode:
        enabled: true
        type: emptyDir
      # Separate PVC for cache to avoid backing up cache files
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      tmp:
        type: emptyDir
