---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: immich-web
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: immich-server
      namespace: default
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 65539
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-web
              tag: v1.84.0
            command: /bin/sh
            args:
              - ./entrypoint.sh
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 1000Mi

    service:
      main:
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite /api/(.*) /$1 break;
          nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Photos
          gethomepage.dev/group: Home
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.fields: '["photos", "videos", "storage"]'
          gethomepage.dev/widget.url: https://photos.chestr.dev
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_IMMICH_API_KEY}}"
        hosts:
          - host: &host photos.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
              - path: /api
                pathType: Prefix
                service:
                  name: immich-server
                  port: 3001
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media/photos
        globalMounts:
          - path: /usr/src/app/upload
