---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      sabnzbd-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/exportarr
              tag: v2.0.1@sha256:727e7bc8f2f0934a2117978c59f4476b954018b849a010ea6cfb380bd6539644
            args:
              - sabnzbd
            env:
              PORT: &port 9712
              URL: http://sabnzbd.default.svc.cluster.local:8080
            envFrom:
              - secretRef:
                  name: sabnzbd-exporter-secret
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true

    service:
      app:
        controller: sabnzbd-exporter
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        serviceName: sabnzbd-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 3m
            scrapeTimeout: 1m
