---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - externalsecret.yaml
  - helmrelease.yaml
  - ../../../../templates/volsync
configMapGenerator:
  - name: factorio-ir3-server-settings
    files:
      - resources/server-settings.json
      - resources/mod-list.json
generatorOptions:
  disableNameSuffixHash: true
