---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app syncthing
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      syncthing:
        containers:
          app:
            image:
              repository: syncthing/syncthing
              tag: 1.29.3
            env:
              PUID: "1000"
              PGID: "1000"
            securityContext:
              # allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 249Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        # runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        nameOverride: *app
        controller: *app
        ports:
          http:
            port: &port 8384

      listen:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.20.90
        ports:
          listen:
            enabled: true
            port: 22000
            protocol: TCP
            targetPort: 22000
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
            targetPort: 21027

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.chestr.dev"
          - sync.chestr.dev
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-cloud
          gethomepage.dev/name: Sync
          gethomepage.dev/group: System
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/syncthing
        globalMounts:
          - path: /data

      config:
        existingClaim: *app
        globalMounts:
          - path: /var/syncthing
