---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flux-instance
  namespace: &namespace flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: onepassword-store
      namespace: external-secrets
    - name: flux-operator
      namespace: *namespace
  interval: 30m
  path: ./kubernetes/apps/flux-system/flux-instance/app
  postBuild:
    substitute:
      APP: flux-webhook
  prune: false
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: *namespace
  targetNamespace: *namespace
  timeout: 5m
  wait: false
