---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Paperless
        PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
        PAPERLESS_SECRET_KEY: "{{ .PAPERLESS_SECRET_KEY }}"
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {"openid_connect":{"APPS":[{"provider_id":"authelia","name":"Authelia","client_id":"paperless","secret":"{{ .PAPERLESS_OAUTH_CLIENT_SECRET }}","settings":{"server_url":"https://auth.chestr.dev/.well-known/openid-configuration"}}]}}
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: paperless
