---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authelia
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/cnpg
    - ../../../../components/dragonfly
    - ../../../../components/gatus/external
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: lldap
      namespace: *namespace
    - name: onepassword-store
      namespace: external-secrets
    - name: smtp-relay
      namespace: *namespace
  interval: 30m
  path: ./kubernetes/apps/default/authelia/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: auth
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
