---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recommendarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      recommendarr:
        containers:
          app:
            image:
              repository: docker.io/tannermiddleton/recommendarr
              tag: v1.3.0@sha256:0462ed4689f721f1c8806c0d3d55bc5b4089015b931fab21f72f28aea8bb05c2
            env:
              PUBLIC_URL: https://{{ .Release.Name }}.chestr.dev
              DOCKER_ENV: true
              PORT: &port 3000
              FORCE_SECURE_COOKIES: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              limits:
                memory: 200Mi
              requests:
                cpu: 10m
                memory: 50Mi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.chestr.dev"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: openai.png
          gethomepage.dev/name: Recommendarr
          gethomepage.dev/group: AI
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/server/data
