---
apiVersion: v1
kind: ConfigMap
metadata:
  name: thanos-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  prometheus-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://thanos-query.monitoring:9090/
        isDefault: true
