---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: minecraft-router
spec:
  interval: 15m
  chart:
    spec:
      chart: mc-router
      version: 1.0.0
      sourceRef:
        kind: HelmRepository
        name: itzg-minecraft-charts
        namespace: flux-system
      interval: 15m
  values:
    services:
      minecraft:
        type: LoadBalancer
    minecraftRouter:
      autoScaleUp:
        enabled: true
      debug:
        enabled: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
              name: minecraft-router-mc-router
            patch: |
              apiVersion: v1
              kind: Service
              metadata:
                name: ignored
                annotations:
                  io.cilium/lb-ipam-ips: 192.168.100.235
                  external-dns.alpha.kubernetes.io/hostname: mc.chestr.dev,mc-gtnh.chestr.dev,mc-valhelsia.chestr.dev
