---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflared-tunnel
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudflared-tunnel-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config.yaml: |
          tunnel: "{{ .CLOUDFLARED_K8S_TUNNEL_ID }}"
          ingress:
            - hostname: chestr.dev
              service: https://nginx-external-controller.networking.svc.cluster.local:443
              originRequest:
                originServerName: external.chestr.dev
            - hostname: "*.chestr.dev"
              service: https://nginx-external-controller.networking.svc.cluster.local:443
              originRequest:
                originServerName: external.chestr.dev
            - service: http_status:404
        credentials.json: |
          {
            "AccountTag": "{{ .CLOUDFLARE_ACCOUNT_ID }}",
            "TunnelSecret": "{{ .CLOUDFLARED_K8S_TUNNEL_SECRET }}",
            "TunnelID": "{{ .CLOUDFLARED_K8S_TUNNEL_ID }}"
          }
  dataFrom:
    - extract:
        key: cloudflare
    - extract:
        key: cloudflare-tunnel-id
