---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app recyclarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: recyclarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RADARR_APIKEY: "{{ .RADARR_API_KEY }}"
        SONARR_APIKEY: "{{ .SONARR_API_KEY }}"
  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: radarr
