---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    # https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/ICONS.md
    # https://pictogrammers.com/library/mdi/
    # https://simpleicons.org/
    title: Dashboard
    favicon: https://github.com/walkxcode/dashboard-icons/blob/main/png/heimdall.png
    theme: dark
    headerStyle: clean
    hideVersion: true
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
    layout:
      Home:
        style: row
        columns: 2
        tab: first
        icon: mdi-home-analytics
      Media:
        style: row
        columns: 2
        tab: first
        icon: mdi-play-circle
      Downloads:
        style: row
        columns: 3
        tab: first
        icon: mdi-download-circle
      Music:
        style: column
        columns: 2
        tab: first
        icon: mdi-speaker-multiple
      Automation:
        style: column
        columns: 2
        tab: first
        icon: mdi-home-automation
      Monitoring:
        style: column
        icon: mdi-monitor-eye
        tab: first
      Infrastructure:
        style: column
        icon: mdi-server-network
        tab: first
      Storage:
        style: column
        icon: mdi-database
        tab: first
      System:
        style: column
        icon: mdi-application
        tab: first
      Calendar:
        style: column
        icon: mdi-application
        tab: second
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - Social:
        - Discord:
            - icon: discord.png
              href: https://discord.com/app
        - Gmail:
            - icon: gmail.png
              href: http://gmail.com
        - Reddit:
            - icon: reddit.png
              href: https://reddit.com
        - Twitch:
            - icon: twitch.png
              href: https://twitch.tv
        - YouTube:
            - icon: youtube.png
              href: https://youtube.com/feed/subscriptions
    - Cloud:
        - CloudFlare:
            - icon: cloudflare.png
              href: https://dash.cloudflare.com
        - AWS Console:
            - icon: aws.png
              href: https://aws.amazon.com/console/
        - Terraform Cloud:
            - icon: terraform.png
              href: https://app.terraform.io
        - Pushover:
            - icon: pushover.png
              href: https://client.pushover.net/
    - Git:
        - k8s-at-home:
            - icon: kubernetes-dashboard.png
              description: Helm Chart Search
              href: https://nanne.dev/k8s-at-home-search/
        - home-cluster:
            - icon: github.png
              description: Renovate Dashboard
              href: https://github.com/mchestr/home-cluster/issues/2976
  services.yaml: |
    - Infrastructure:
        - Cloudflared:
            href: https://dash.cloudflare.com/
            icon: cloudflare-zero-trust.png
            description: Cloudflared Tunnel
            widget:
              type: cloudflared
              accountid: {{HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARED_TUNNELID}}
              key: {{HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN}}
        - Router:
            href: https://dns.chestr.dev
            icon: edgeos.png
        - PiKVM:
            href: https://pikvm.chestr.dev
            icon: pikvm.png
    - Monitoring:
        - Status:
            href: https://status.chestr.dev
            icon: uptime-kuma.png
            widget:
              type: uptimekuma
              url: https://status.chestr.dev
              slug: chesterlab
    - System:
        - Mainsail:
            href: https://mainsail.chestr.dev
            icon: mdi-printer-3d-nozzle
            widget:
              type: moonraker
              url: https://mainsail.chestr.dev:7130
    - Storage:
        - LochNAS:
            href: https://lochnas.chestr.dev
            icon: synology-dsm.png
            widget:
              type: diskstation
              url: https://lochnas.chestr.dev:5001
              username: {{HOMEPAGE_VAR_DSM_USER}}
              password: {{HOMEPAGE_VAR_DSM_PASSWORD}}
    - Calendar:
        - Calendar:
            widget:
              type: calendar
              firstDayInWeek: sunday
              view: monthly
              maxEvents: 10
              showTime: true
              timezone: America/Vancouver
              integrations:
                - type: sonarr
                  service_group: Downloads
                  service_name: Sonarr
                  params:
                    unmonitored: true
                - type: radarr
                  service_group: Downloads
                  service_name: Radarr
                  params:
                    unmonitored: true
  widgets.yaml: |
    - search:
        provider: [google]
        focus: false
        target: _blank
    - kubernetes:
        cluster:
          cpu: true
          label: cluster
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - openmeteo:
        label: Home
        latitude: {{HOMEPAGE_VAR_LATITUDE}}
        longitude: {{HOMEPAGE_VAR_LONGITUDE}}
        units: metric
        cache: 5
    - datetime:
        text_size: l
        format:
          dateStyle: long
          timeStyle: short
          hourCycle: h23
    - unifi_console:
        url: https://unifi.chestr.dev
        username: {{HOMEPAGE_VAR_UNIFI_USER}}
        password: {{HOMEPAGE_VAR_UNIFI_PASSWORD}}
  docker.yaml: ""
