---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app authelia
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: authelia-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Authelia
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .LLDAP_LDAP_USER_PASS }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET }}"
        AUTHELIA_SESSION_SECRET: "{{ .AUTHELIA_SESSION_SECRET }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"

        # Other Variables
        JWKS_KEY: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY }}"
        JWT_SECRET: "{{ .AUTHELIA_JWT_SECRET }}"

        # OIDC Apps
        # docker run authelia/authelia:latest authelia crypto hash generate argon2 --random --random.length 64 --random.charset alphanumeric
        AUTOBRR_OAUTH_CLIENT_SECRET: "{{ .AUTOBRR_OAUTH_CLIENT_SECRET_HASH }}"
        DASHBRR_OAUTH_CLIENT_SECRET: "{{ .DASHBRR_OAUTH_CLIENT_SECRET_HASH }}"
        GRAFANA_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OAUTH_CLIENT_SECRET_HASH }}"
        IMMICH_OAUTH_CLIENT_SECRET: "{{ .IMMICH_OAUTH_CLIENT_SECRET_HASH }}"
        PAPERLESS_OAUTH_CLIENT_SECRET: "{{ .PAPERLESS_OAUTH_CLIENT_SECRET_HASH }}"
        MINIO_OAUTH_CLIENT_SECRET: "{{ .MINIO_OAUTH_CLIENT_SECRET_HASH }}"
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: lldap
