---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - external-secret.yaml
  - helm-release.yaml
configMapGenerator:
  - name: authelia-configmap
    files:
      - config/configuration.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    # Disable or env-sub no worky for authelia config
    kustomize.toolkit.fluxcd.io/substitute: disabled
