---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app immich
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: immich-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Immich
        OAUTH_CLIENT_SECRET: "{{ .IMMICH_OAUTH_CLIENT_SECRET }}"
        JWT_SECRET: "{{ .IMMICH_JWT_SECRET }}"
  dataFrom:
    - extract:
        key: *app
    - extract:
        key: authelia
