---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false

    controllers:
      immich:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: immich-initdb-secret

        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v1.130.3
            env:
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: &pguser immich-pguser-secret
                    key: user
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: db
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: host
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: port
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources: &resources
              requests: &requests
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 4Gi
                gpu.intel.com/i915: 1

      machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v1.130.3
            envFrom: *envFrom
            resources:
              requests: *requests
              limits:
                memory: 2Gi

    service:
      immich:
        controller: immich
        ports:
          http:
            port: &port 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003

    route:
      app:
        hostnames:
          - photos.chestr.dev
          - "{{ .Release.Name }}.chestr.dev"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Photos
          gethomepage.dev/group: Home
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.fields: '["photos", "videos", "storage"]'
          gethomepage.dev/widget.url: http://immich.default.svc.cluster.local:2283
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_IMMICH_API_KEY}}" }}'
          gethomepage.dev/widget.version: '2'
        parentRefs:
          - name: external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media/photos
        globalMounts:
          - path: /usr/src/app/upload
