---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.2"
            envFrom:
              - secretRef:
                  name: immich-dbinit-secret

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: &tag v1.94.1
            command: /bin/sh
            args:
              - ./start-server.sh
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources: &resources
              requests: &requests
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 1Gi
            securityContext: &securityContext
              fsGroup: 65539
              fsGroupChangePolicy: OnRootMismatch
              allowPrivilegeEscalation: false
              seccompProfile:
                type: RuntimeDefault
              capabilities:
                drop:
                  - ALL

      microservice:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v1.94.1
            command: /bin/sh
            args:
              - ./start-microservices.sh
            envFrom: *envFrom
            resources: *resources
            securityContext: *securityContext

      machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v1.94.1
            envFrom: *envFrom
            resources:
              requests: *requests
              limits:
                memory: 2Gi
            securityContext: *securityContext

      redis:
        containers:
          main:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 7.2.4@sha256:76d5908f5e19fcdd73daf956a38826f790336ee4707d9028f32b24ad9ac72c08

    service:
      main:
        controller: main
        ports:
          http:
            port: 3001
      microservice:
        controller: microservice
        ports:
          http:
            port: 3002
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      redis:
        controller: redis
        ports:
          http:
            port: 6379

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Photos
          gethomepage.dev/group: Home
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.fields: '["photos", "videos", "storage"]'
          gethomepage.dev/widget.url: https://photos.chestr.dev
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_IMMICH_API_KEY}}"
        hosts:
          - host: &host photos.chestr.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: true
        type: nfs
        server: lochnas.chestr.dev
        path: /volume1/shared/media/photos
        globalMounts:
          - path: /usr/src/app/upload
