---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: multus-iot
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "multus-iot",
      "plugins": [
        {
          "type": "macvlan",
          "master": "bond0.10",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "routes": [
              {"dst": "192.168.1.0/24", "gw": "10.0.10.1"},
              {"dst": "10.0.10.0/24", "gw": "10.0.10.1"}
            ]
          }
        }
      ]
    }
