---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app frigate
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *app
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        FRIGATE_MQTT_USERNAME: "{{ .EMQX_USER_1_USERNAME }}"
        FRIGATE_MQTT_PASSWORD: "{{ .EMQX_USER_1_PASSWORD }}"
        FRIGATE_LIVING_ROOM_CAMERA_USERNAME: "{{ .LIVING_ROOM_CAMERA_USERNAME }}"
        FRIGATE_LIVING_ROOM_CAMERA_PASSWORD: "{{ .LIVING_ROOM_CAMERA_PASSWORD }}"
  dataFrom:
    - extract:
        key: emqx
    - extract:
        key: cameras
