---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app frigate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: frigate-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        FRIGATE_MQTT_USERNAME: "{{ .X_EMQX_MQTT_USERNAME }}"
        FRIGATE_MQTT_PASSWORD: "{{ .X_EMQX_MQTT_PASSWORD }}"
        FRIGATE_LIVING_ROOM_CAMERA_USERNAME: "{{ .LIVING_ROOM_CAMERA_USERNAME }}"
        FRIGATE_LIVING_ROOM_CAMERA_PASSWORD: "{{ .LIVING_ROOM_CAMERA_PASSWORD }}"
        FRIGATE_DOORBELL_CAMERA_USERNAME: "{{ .DOORBELL_CAMERA_USERNAME }}"
        FRIGATE_DOORBELL_CAMERA_PASSWORD: "{{ .DOORBELL_CAMERA_PASSWORD }}"
        FRIGATE_SONOFF_CAMERA_USERNAME: "{{ .SONOFF_CAMERA_USERNAME }}"
        FRIGATE_SONOFF_CAMERA_PASSWORD: "{{ .SONOFF_CAMERA_PASSWORD }}"
        FRIGATE_CATCAM_CAMERA_USERNAME: "{{ .CATCAM_USERNAME }}"
        FRIGATE_CATCAM_CAMERA_PASSWORD: "{{ .CATCAM_PASSWORD }}"
  dataFrom:
    - extract:
        key: emqx
    - extract:
        key: cameras
