---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app frigate
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: frigate-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        FRIGATE_MQTT_USERNAME: "{{ .mosquitto_frigate_username }}"
        FRIGATE_MQTT_PASSWORD: "{{ .mosquitto_frigate_password }}"
        FRIGATE_LIVING_ROOM_CAMERA_USERNAME: "{{ .LIVING_ROOM_CAMERA_USERNAME }}"
        FRIGATE_LIVING_ROOM_CAMERA_PASSWORD: "{{ .LIVING_ROOM_CAMERA_PASSWORD }}"
        FRIGATE_DOORBELL_CAMERA_USERNAME: "{{ .DOORBELL_CAMERA_USERNAME }}"
        FRIGATE_DOORBELL_CAMERA_PASSWORD: "{{ .DOORBELL_CAMERA_PASSWORD }}"
        FRIGATE_SONOFF_CAMERA_USERNAME: "{{ .SONOFF_CAMERA_USERNAME }}"
        FRIGATE_SONOFF_CAMERA_PASSWORD: "{{ .SONOFF_CAMERA_PASSWORD }}"
  dataFrom:
    - extract:
        key: mosquitto
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mosquitto_$1"
    - extract:
        key: cameras
