---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMRule
metadata:
  name: frigate-alerts
  labels:
    vmalert-logs.io/enabled: "true"
spec:
  groups:
    - name: &name FrigateMQTTUnreachable
      type: vlogs
      interval: 5m
      rules:
        - alert: *name
          expr: '"(?i)unable to connect to mqtt server" | filter app := "frigate" | count() rows | filter rows :> 0'
          annotations:
            description: '{{ $labels.app }} is unable to reach MQTT'
