---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app home-assistant
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Home Assistant
        HASS_DOORBELL_CAMERA_STREAM_SOURCE: "rtsp://{{ .DOORBELL_CAMERA_USERNAME }}:{{ .DOORBELL_CAMERA_PASSWORD }}@10.0.10.144:554/cam/realmonitor?channel=1&subtype=0#backchannel=0"
        HASS_ALARM_CONTROL_PANEL_CODE: "{{ .HASS_ALARM_CONTROL_PANEL_CODE }}"
        HASS_WASTE_COLLECTION_SCHEDULE_ICS_URL: "{{ .HASS_WASTE_COLLECTION_SCHEDULE_ICS_URL }}"
        HASS_HEALTHCHECKS_HEARTBEAT_URL: "{{ .INTERNET_HEARTBEAT_URL }}"
  dataFrom:
    - extract:
        key: *app
    - extract:
        key: cameras
    - extract:
        key: healthchecks
    - extract:
        key: translink
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-assistant-deploykey
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-deploykey-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        id_ed25519.pub: "{{ .HASS_PUBLIC_DEPLOYKEY }}"
        id_ed25519: "{{ .HASS_DEPLOYKEY }}"
  dataFrom:
    - extract:
        key: home-assistant
