---
apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-gatus-ep
  namespace: default
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: home-assistant
        group: external
        url: https://home-assistant.chestr.dev
        interval: 30m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: pushover
