---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      hostname: home-assistant
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - frigate
              topologyKey: kubernetes.io/hostname
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      home-assistant:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["10.0.10.250/24"]
              }]
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2024.12.3@sha256:09bcc0786ef5a57af1e0fff16bebfd6bd0b969d2a07e06127e12b41ab740a3b4
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            env:
              TZ: America/Vancouver

          vscode-tunnel:
            image:
              repository: ghcr.io/mchestr/vscode-tunnel
              tag: 1.96.0@sha256:d1ab70158ecb89f26fe4288e2550f79f48d126fe0f474952e9e6e79e7c026a7d

    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: &http 8123

    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.chestr.dev
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/icon: home-assistant.png
        hosts:
          - host: &host "{{ .Release.Name }}.chestr.dev"
            paths: &paths
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
          - host: &host2 home.chestr.dev
            paths: *paths
        tls:
          - hosts:
              - *host
              - *host2

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /config

      deploykey:
        enabled: true
        type: secret
        name: home-assistant-deploykey-secret
        advancedMounts:
          home-assistant:
            vscode-tunnel:
              - path: /home/kah/.ssh
      vscode-tunnel:
        enabled: true
        size: 4Gi
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        advancedMounts:
          home-assistant:
            vscode-tunnel:
              - path: /.vscode

    networkpolicies:
      home-assistant:
        controller: home-assistant

        policyTypes:
          - Ingress

        rules:
          ingress:
            - from:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/instance: nginx-internal
                  namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: networking
              ports:
                - protocol: TCP
                  port: *http
            - from:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/instance: nginx-external
                  namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: networking
              ports:
                - protocol: TCP
                  port: *http
