---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent-tools
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  dependsOn:
    - name: qbittorrent
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568

    controllers:
      qbtools:
        containers:
          app:
            image: &image
              repository: ghcr.io/buroa/qbtools
              tag: v0.19.9
            resources: &resources
              requests:
                memory: 250Mi
                cpu: 25m
              limits:
                memory: 500Mi
            args:
              - reannounce
              - --process-seeding
              - -s
              - qbittorrent.default.svc.cluster.local
              - -p
              - "8080"

      tagging:
        type: cronjob
        cronjob:
          schedule: "@hourly"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30
        containers:
          app:
            image: *image
            resources: *resources
            args:
              - tagging
              - --added-on
              - --expired
              - --last-activity
              - --not-working
              - --sites
              - --unregistered
              - --server
              - qbittorrent.default.svc.cluster.local
              - --port
              - "8080"

      prune-expired:
        type: cronjob
        cronjob:
          schedule: 10 */6 * * *
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30
        containers:
          app:
            image: *image
            resources: *resources
            args:
              - prune
              - --exclude-category
              - manual
              - --include-tag
              - expired
              - --exclude-tag
              - activity:24h
              - --server
              - qbittorrent.default.svc.cluster.local
              - --port
              - "8080"

      prune-unregistered:
        type: cronjob
        cronjob:
          schedule: 20 */6 * * *
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 30
        containers:
          app:
            image: *image
            resources: *resources
            args:
              - prune
              - --include-tag
              - unregistered
              - --exclude-tag
              - expired
              - --server
              - qbittorrent.default.svc.cluster.local
              - --port
              - "8080"

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: qbittorrent-tools-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
