---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-nut-exporter
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    image:
      repository: hon95/prometheus-nut-exporter
      tag: "1.2.1"

    controller:
      strategy: RollingUpdate

    env:
      TZ: ${TZ}
      HTTP_PATH: /metrics

    service:
      main:
        ports:
          http:
            protocol: TCP
            port: 9995

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            interval: 15s
            scrapeTimeout: 10s
            params:
              target:
                - "lochnas.${SECRET_CLUSTER_DOMAIN}:3493"
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target

    resources:
      limits:
        cpu: "10m"
        memory: "16Mi"
      requests:
        cpu: "1m"
        memory: "8Mi"
