---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-bit
spec:
  interval: 30m
  chart:
    spec:
      chart: fluent-bit
      version: 0.48.9
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    ## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
    config:
      service: |
        [SERVICE]
          Daemon Off
          Flush {{ .Values.flush }}
          Log_Level {{ .Values.logLevel }}
          Parsers_File /fluent-bit/etc/parsers.conf
          Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
          HTTP_Server On
          HTTP_Listen 0.0.0.0
          HTTP_Port {{ .Values.metricsPort }}
          Health_Check On

      ## https://docs.fluentbit.io/manual/pipeline/inputs
      inputs: |
        [INPUT]
          name tail
          alias kubernetes
          path /var/log/containers/*.log
          parser containerd
          tag kubernetes.*

      ## https://docs.fluentbit.io/manual/pipeline/filters
      filters: |
        [FILTER]
          name kubernetes
          alias kubernetes
          match kubernetes.*
          buffer_size 0
          merge_log on

          kube_tag_prefix kubernetes.var.log.containers.
          k8s-logging.parser on
          k8s-logging.exclude on
          namespace_labels off
          annotations on

        [FILTER]
          name modify
          match kubernetes.*
          add source home-cluster

        [FILTER]
          name nest
          match kubernetes.*
          wildcard pod_name
          operation lift
          nested_under kubernetes
          add_prefix k_

        [FILTER]
          name nest
          match kubernetes.*
          operation lift
          nested_under k_labels
          add_prefix k_labels_

        [FILTER]
          name modify
          match kubernetes.*
          rename k_labels_app.kubernetes.io/instance app
          rename k_labels_app.kubernetes.io/name app
          rename k_labels_app app
          rename k_labels_k8s-app app
          rename k_container_name app

      ## https://docs.fluentbit.io/manual/pipeline/outputs
      outputs: |
        [OUTPUT]
          Name http
          Match kubernetes.*
          host victoria-logs-server.observability.svc.cluster.local
          port 9428
          uri /insert/jsonline?_stream_fields=stream,k_namespace_name,k_pod_name,app&_msg_field=log&_time_field=date
          format json_lines
          json_date_format iso8601
          compress gzip
