---
logger:
  default: info
  # logs:
  #   frigate.record: debug

mqtt:
  host: mosquitto.default.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

birdseye:
  enabled: True
  mode: continuous

detectors:
  coral:
    type: edgetpu
    device: usb

model:
  labelmap:
    1: vehicle # bicycle
    2: vehicle # car
    3: vehicle # motorcycle
    4: vehicle # airplane
    5: vehicle # bus
    6: vehicle # train
    7: vehicle # car
    8: vehicle # boat
    15: animal # bird
    16: animal # cat
    17: animal # dog
    18: animal # horse
    19: animal # sheep
    20: animal # cow
    21: animal # elephant
    22: animal # bear
    23: animal # zebra
    24: animal # giraffe

ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args:
    [
      "-hwaccel",
      "vaapi",
      "-hwaccel_device",
      "/dev/dri/renderD128",
      "-hwaccel_output_format",
      "yuv420p",
    ]

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 2

record:
  enabled: true
  retain:
    days: 30
    mode: motion
  events:
    retain:
      default: 60
      mode: active_objects
      objects:
        vehicle: 7

objects:
  track: ["person", "vehicle", "animal"]
  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7

go2rtc:
  streams:
    living_room_high:
      - http://10.0.10.164/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={FRIGATE_LIVING_ROOM_CAMERA_USERNAME}&password={FRIGATE_LIVING_ROOM_CAMERA_PASSWORD}
      - "ffmpeg:reolink#audio=opus"
    living_room_low:
      - http://10.0.10.164/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user={FRIGATE_LIVING_ROOM_CAMERA_USERNAME}&password={FRIGATE_LIVING_ROOM_CAMERA_PASSWORD}
    doorbell_high:
      - rtsp://{FRIGATE_DOORBELL_CAMERA_USERNAME}:{FRIGATE_DOORBELL_CAMERA_PASSWORD}@10.0.10.144:554/cam/realmonitor?channel=1&subtype=0#backchannel=0
    doorbell_low:
      - rtsp://{FRIGATE_DOORBELL_CAMERA_USERNAME}:{FRIGATE_DOORBELL_CAMERA_PASSWORD}@10.0.10.144:554/cam/realmonitor?channel=1&subtype=1#backchannel=0

cameras:
  living_room:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-aac
      inputs:
        - path: rtsp://127.0.0.1:8554/living_room_high?video=copy&audio=aac
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/living_room_low?video=copy
          input_args: preset-rtsp-restream
          roles:
            - detect
    live:
      stream_name: living_room_high

  doorbell:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-aac
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell_high?video=copy&audio=aac
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/doorbell_low?video=copy
          input_args: preset-rtsp-restream
          roles:
            - detect
    live:
      stream_name: doorbell_high
