---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app tfe-cli-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *app
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        terraform.tfrc: credentials "app.terraform.io" { token = "{{ .TERRAFORM_TOKEN }}" }
  dataFrom:
    - extract:
        key: terraform
