---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app gatus
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gatus-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        CUSTOM_PUSHOVER_GATUS_TOKEN: "{{ .PUSHOVER_GATUS_TOKEN }}"
        CUSTOM_PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"

        # Postgres Config
        INIT_POSTGRES_DBNAME: *app
        INIT_POSTGRES_HOST: postgres16-rw.default.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .GATUS_STORAGE_POSTGRES_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .GATUS_STORAGE_POSTGRES_PASSWORD }}"
  dataFrom:
    - extract:
        key: pushover
    - extract:
        key: shlink
    - extract:
        key: cloudnative-pg
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gatus-dbinit
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gatus-dbinit-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: gatus
        INIT_POSTGRES_HOST: postgres16-rw.default.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .GATUS_STORAGE_POSTGRES_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .GATUS_STORAGE_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
