---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: gatus
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      annotations:
        reloader.stakater.com/auto: "true"

    controllers:
      main:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.2"
            envFrom:
              - secretRef:
                  name: gatus-dbinit-secret
          02-config-sync:
            imagePullPolicy: IfNotPresent
            env:
              - name: FOLDER
                value: /config
              - name: LABEL
                value: gatus.io/enabled
              - name: NAMESPACE
                value: ALL
              - name: RESOURCE
                value: both
              - name: UNIQUE_FILENAMES
                value: "true"
              - name: METHOD
                value: LIST
            volumeMounts:
              - name: config
                mountPath: /config
            image:
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.26.1
        containers:
          main:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.8.0@sha256:fecb4c38722df59f5e00ab4fcf2393d9b8dad9161db208d8d79386dc86da8a55
            envFrom:
              - secretRef:
                  name: gatus-secret
            env:
              TZ: America/Vancouver
              GATUS_CONFIG_PATH: /config
              CLUSTER_DOMAIN: chestr.dev
          config-sync:
            image:
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.26.1
            env:
              - name: FOLDER
                value: /config
              - name: LABEL
                value: gatus.io/enabled
              - name: NAMESPACE
                value: ALL
              - name: RESOURCE
                value: both
              - name: UNIQUE_FILENAMES
                value: "true"
              - name: METHOD
                value: WATCH
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: gatus.png
          gethomepage.dev/name: Gatus
          gethomepage.dev/group: Monitoring
        hosts:
          - host: &host "{{ .Release.Name }}.chestr.dev"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
        className: internal
    persistence:
      config:
        enabled: true
        type: emptyDir
      config-file:
        enabled: true
        type: configMap
        name: gatus-configmap
        readOnly: true
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    serviceAccount:
      create: true
      name: gatus
