---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-smtp-relay
  namespace: flux-system
spec:
  targetNamespace: default
  path: ./kubernetes/apps/default/smtp-relay/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: true
